---{
	"id": "3d1a73b7-a1b5-429e-acfc-4346db11b248",
    "authors": [
        "trandolph"
    ],
    "title": "2. Servers & Databases, Oh My (JAMstack Auth Series)",
    "publish": "2019-12-04T02:00:00-07:00",
    "status": "hidden",
    "type": "long",
    "rssExclusive": false
}---
<section>
		<h2>Authentication On The JAMstack - Part 2 of 6(???)</h2>
		<p>
			In <a href="">Part 1</a>, we went over what we'll be doing, and made some low-level decisions about our system, like where we'll be putting our code.
			<br />
			If you haven't read it yet, you should! It will help you understand where we are now!
		</p>
		<p>
			In this part of the series, we'll do the following three things:
		</p>
		<ol>
			<li>Set up our code repository</li>
			<li>Set up our Lightsail instance</li>
			<li>Create a script that will set up our server for us</li>
		</ol>
		<p>
			Don't worry!
			<br />
			It seems like a lot, but most of this is pretty easy!
		</p>
	</section>
	<section>
		<h2>1. Set up our code repository</h2>
		<p>
			Where?
		</p>
		<h3>GitLab!</h3>
		<p>
			I've been using <a href="https://gitlab.com/">GitLab</a> for a while, so my UI might look a little different than yours if this is your first time using it.
			<br />
			When I first log in, I'm presented with my projects. In the top right, I have two ways to create a new project.
			<figure><img src="assets/gitlab-new-project.jpg" /></figure>
			Because the one in the small menu (accessed by clicking the button circled in blue), will almost always be available (since that button is in the top navigation bar), I'll use that one to create our new project.
			<br />
			I'm going to call my project <code>jamthentication</code> because I am not very creative. For ease of access, it'll be public. I'll initialize it with a README so I can immediately clone it and start working in it without having to create a repository locally and push that up.
			<br />
			Once I've filled everything out, I'll push the big green <code>Create Project</code> button.
			<figure><img src="assets/gitlab-project-creation.jpg" /></figure>
		</p>
		<h3>Our own computer!</h3>
		<p>
			We're going to immediately clone our new repository so that as soon as we want to write any code, we'll be ready to go.
			<br />
			Using <code>git</code> is outside the scope of this series, but to get either an SSH or HTTPS clone URL, you can click the blue <code>Clone</code> button in the top right of your new project page.
			<figure><img src="assets/gitlab-clone-urls.jpg" /></figure>
		</p>
		<p>
			Once you've gotten your new repo cloned to your machine... congratulations, you're done with step 1!
		</p>
	</section>
	<section>
		<h2>2. Set up our Lightsail instance</h2>
		<p>
			Go to the <a href="https://lightsail.aws.amazon.com">Lightsail</a> page and create an AWS account, if you haven't already.
			<aside>
				Amazon will ask for your credit card information during signup, because Amazon gotta get Amazon's dolla bills. Remember that if you delete your Lightsail instance before your free month expires, you won't be charged anything. While you're thinking about money, check out the services <a href="https://aws.amazon.com/free/?all-free-tier.sort-by=item.additionalFields.SortRank&all-free-tier.sort-order=asc">AWS offers for free</a>.
			</aside>
			<br />
			Once you're signed into your Lightsail dashboard, you should see a big orange <code>Create instance</code> button. Click that sucker.
			<aside>
				If you've never been to Lightsail before, they'll immediately start this process for you, so just click <code>"Let's get started"</code>.
			</aside>
			<br />
			On the resulting page, you'll be presented with instance options. As we discussed in part 1 of this series, you should pick:
		</p>
		<ol>
			<li>A region near you</li>
			<li>Linux/Unix</li>
			<li>OS Only</li>
			<li>Ubuntu 18.04 LTS</li>
		</ol>
		<aside>
			My region was automatically selected as Montreal, which is not near me. Make sure you double check which region your server will live in!
		</aside>
		<figure><img src="assets/aws-lightsail-new-instance.jpg" /></figure>
		<p>
			Below the area where you select your image, note that this instance is using the <strong>default</strong> SSH key pair, and confirm that the plan selected is the $3.50 per month (first month free) plan.
			<figure><img src="assets/aws-instance-plan.jpg" /></figure>
			Give your new server a name (I called mine <code>jamthentication</code> because I am not very creative) and click the giant orange <code>Create instance</code> button at the very bottom.
		</p>
		<p>
			If you wait for the server to start up, you'll eventually have a brand new server all to yourself.
			<figure><img src="assets/aws-instance.jpg" /></figure>
		</p>
		<p>
			Congratulations! We're almost done with step 2!
			<br />
			For most things we want to do on the server, the little orange square button with the arrow and the underscore will serve most of our needs. That opens up a terminal that connects to our server, and we can run all kinds of commands there.
			<br />
			However, we're going to want to put files on this server, and the simplest way to do that is with SFTP. That's right, FTP. We're not trying to be fancy here, we're just trying to build an authentication system.
			<br />
			We don't need to put files on this server <em>just yet</em>, but we should set up file transfer while we're here so we don't forget.
		</p>
		<p>
			We'll need to download two things for putting files on our server: an FTP client, and the SSH keys to connect to this server.
			<br />
			For FTP, I really like <a href="https://filezilla-project.org/download.php">FileZilla</a>. Watch out for clickbait ads! The way to download for me was the leftmost green button, twice!
			<figure><img src="assets/filezilla-download.jpg" /></figure>
			Okay, you've got your FTP client (you should install it now!). The next thing is to get your SSH keys from AWS.
		</p>
		<p>
			Earlier, I said to note that the instance was using the <strong>default</strong> SSH key pair. We're going to download this keypair now.
			<br />
			In the Lightsail interface, click the <code>Account</code> item at the very top, and then click <code>Account</code> again in the small menu that pops up. In the resulting account page, click the <code>SSH Keys</code> tab.
			<br />
			Your SSH keys are organized by region and by name. For me (and probably you, too!) there's only one region and one key. Click the <code>Download</code> link next to the <strong>Default</strong> SSH key.
			<figure><img src="assets/lightsail-ssh-download.jpg" /></figure>
			Save the file somewhere secure, you'll use it again very soon.
		</p>
		<p>
			Open FileZilla. Once you've made it to the main screen, click the Site Manager icon in the top left corner.
			<figure><img src="assets/filezilla-site-manager.jpg" /></figure>
			In the site manager, click <code>New Site</code> and give the new server a name. I called mine <code>jamthentication</code> because I am not very creative.
			<br />
			Head back to Lightsail and click the <code>Home</code> link near the top left. Your instance should show an IP address in the bottom right corner. I painted over my IP address with red in the screenshot a little ways back from right after we had created the instance. Copy that IP address now.
			<br />
			Back to Filezilla now, we're almost done!
			<br />
			In your site we just created (I named mine <code>jamthentication</code> because I am not very creative), fill in the details like so:
		</p>
		<ul>
			<li>Protocol: <strong>SFTP: SSH File Transfer Protocol</strong></li>
			<li>Host: <strong>[Paste in the IP you just copied from Lightsail]</strong></li>
			<li>Port: <strong>[Leave it blank]</strong></li>
			<li>Logon Type: <strong>Key file</strong></li>
			<li>User: <strong>ubuntu</strong></li>
			<li>Key file: <strong>[Select the <code>.pem</code> file that you downloaded from Lightsail]</strong></li>
		</ul>
		<figure><img src="assets/filezilla-site-setup.jpg" /></figure>
		<p>
			Press <code>Connect</code>. You may need to verify the authenticity of the server the first time you connect. Wait a moment and you'll be connected to your new server!
		</p>
		<p>
			There are a bunch of panels on this screen, but you only need to worry about the middle four. Of those, the top two are file tree explorers: your computer on the left, and the remote server on the right.
			<br />
			Immediately below those panels are the folder explorers: your currently selected local folder on the left, and the currently selected server folder on the right.
			<figure><img src="assets/filezilla-logged-in.jpg"></figure>
		</p>
		<p>
			Leave Filezilla open and head back to Lightsail in your browser. Click that orange button with the arrow and the underscore on it in the panel for your instance. This will open a terminal for you to run commands on your server (note that you should see something like <code>ubuntu@ip-xxx-xx-xx-xx:~$</code>; that's your terminal prompt)!
			<br />
			At the command line run this command:
		</p>
		<pre><code class="bash">mkdir jamthentication</code></pre>
		<p>
			Head back to Filezilla and &mdash; in the left two panels &mdash; navigate to your local clone of the code repository. Click the blue and green circling arrows at the top of the window to refresh the server file listing. The new folder you just created on the server appears!
			<figure><img src="assets/filezilla-new-folder.jpg" /></figure>
		</p>
		<p>
			Wow.
			<br />
			That was pretty complicated.
			<br />
			That's... like... the hardest thing we'll do in this entire series, trust me!
			<aside>This is not true</aside>
		</p>
		<p>
			We have one last thing to do, but for now, congratulate yourself, you just created a cloud server, and it's all yours!
		</p>
	</section>
	<section>
		<h2>3. Create a script that will set up our server for us</h2>
		<p>
			Are you worried about how much longer this will be?
			<br />
			<strong>Never fear!</strong> This part is <strong>so</strong> easy.
		</p>
		<p>
			Open up your cloned repository in your favorite editor, and create a new file. I called mine <code>setup.sh</code>.
			<br />
			<code>.sh</code> is the file extension used for Bash files. This file can be run right from the command line of your server &mdash; no other tools needed.
			<br />
			We're going to use this script to install <code>Node</code> and <code>PostgreSQL</code> on the server, so add these lines to <code>setup.sh</code>:
		</p>
		<pre><code class="bash">curl -sL https://deb.nodesource.com/setup_13.x | sudo -E bash -
sudo apt-get update
sudo apt-get install -y nodejs postgresql postgresql-contrib
sudo -u postgres createdb jamthentication</code></pre>
		<p>
			In order, these lines:
		</p>
		<ol>
			<li>Adds a package remote for Node and NPM</li>
			<li>Update the built in package manager in Ubuntu to fetch available packages</li>
			<li>Installs Node, NPM, PostgreSQL, and some additional PostgreSQL tools that we need</li>
			<li>Creates a database for our authentication system (I called it jamthentication, because I am not very creative)</li>
		</ol>
		<p>
			Save the file. Head over to Filezilla. Make sure it still has the correct panels so you can see your repository on the left side and the <code>jamthentication</code> folder on the server on the right side.
			<br />
			Double click on the <code>jamthentication</code> folder on your server to change into that directory. Click the blue and green circling arrows to refresh the file listing on your computer. Double click on <code>setup.sh</code> to copy it to your server.
			<figure><img src="assets/filezilla-uploaded.jpg" /></figure>
		</p>
		<p>
			At this point, you have probably been disconnected from your open Lightsail terminal that we used earlier to create the site folder on the server. I have found that trying to reconnect in this same window never works, so close it, and use the terminal button on your instance to open a new terminal connection in your browser.
			<br />
			In order, and one line at a time, enter the following commands in your terminal:
		</p>
		<pre><code class="bash">cd jamthentication
chmod 755 setup.sh
./setup.sh</code></pre>
		<p>
			These lines are, respectively:
		</p>
		<ol>
			<li>Changing into our project directory on the server</li>
			<li>Making it so that we can run the setup script like a program</li>
			<li>Running the setup script like a program!</li>
		</ol>
		<p>
			If you type these commands:
		</p>
		<pre><code class="bash">node -v
npm -v</code></pre>
		<p>
			You should see the current versions of Node and NPM output to your terminal (<code>v13.2.0</code> and <code>6.13.1</code>, respectively, at the time of writing).
		</p>
		<p>
			Congratulations!
			<br />
			You did it!
			<br />
			You set up a whole new project, registered a test server, created a provisioning script so that you can set the server up any time, and you got it all working.
			<br />
			Honestly very impressive.
		</p>
		<aside>
			Now might be a good time install <code>Node</code>, <code>npm</code>, and <code>PostgreSQL</code> on your <strong>own</strong> computer. This is much more convenient for quick development, and future parts of this series will assume that your own computer has the same tools as the server we just set up.
		</aside>
		<p>
			Next time, we'll architect a database for our authentication system and we'll get it all humming along nice and smoothly.
		</p>
		<p>
			In the meantime, take a breather. You did awesome!
		</p>
	</section>
