---{
	"id": "e9e3fadf-716b-4dad-a985-06dd9f471ded",
    "authors": [
        "trandolph"
    ],
    "title": "2023 ↦ 2024",
    "publish": "2024-01-07T18:25:00-07:00",
    "status": "published",
    "type": "long",
    "rssExclusive": false
}---
<section>
    <h2>2023: A Recap</h2>
    <p>
        <a href="/post/new-year-new-me-my-resolutions-for-2023.html">Last year</a>, I had a few goals, mostly around consumption and creation.
        <br />
        I think it's fair to say I accomplished them all, because I am nothing if not a realistic goal-setter.
    </p>
    <p>
        In fact, it was true that <a href="/post/maybe-i-set-my-goals-too-low.html">I had accomplished two thirds of them by the end of March</a>, which perhaps reframes my realistic goals as unchallenging goals.
        <br />
        I am nothing if not comfortable in a life without self-imposed challenge.
    </p>
    <p>
        I did read <a href="">read two more books</a> after I posted that in March, but that's an average of .22 more books per month which is uninspiring.
        <br />
        As I noted, I tend to get stuck when a book irritates me, and then never pick it - or any other book - up again for a long time. Last year, that book was the 10th anniversary edition of <em>The New Jim Crow</em> by Michelle Alexander.
        <br />
        I hadn't read <em>The New Jim Crow</em> originally, so I picked it up to "catch up." Unfortunately, this version has a 37-page new preface, a mercifully short 3-page foreword, the <strong>original</strong> sub-1-page preface (so you <em>do</em> know how!), and then a 23-page introduction.
        <br />
        I am not sorry about this: if I've read 64 pages before I get to your book something has gone terribly wrong. Also, here's the new preface: "Things have not changed in the last 10 years." You see how that's not 37 pages?
        <br />
        Anyway, I got pissed off at this author and put the book down and didn't pick another book up until late December.
    </p>
    <p>
        I <a href="https://games.rdlph.dev/list/75628229-ba06-4142-9507-be803047f97e">completed 10 games in 2023</a>, which - as noted in March - was certainly far more than 2022.
    </p>
    <p>
        Perhaps most importantly, I got <a href="https://games.rdlph.dev">my side project - a game tracker (?)</a> - to a version 1 usable state. Version one isn't fully complete, but it's mostly functional with just a couple rough edges.
        <br />
        The most restrictive thing that I think most people would take issue with is there is no public-facing user data. The list of games I completed in 2023 that I linked above has a title (and of course I created it, and I have a username), but I've explicitly chosen not to share those pieces of information publicly. As soon as I show user-entered data to people other than the user who entered it, I have a content moderation problem, and it's one I'm currently unprepared to handle.
        <br />
        Future iterations of this application will ship moderation and safety tools, but for the moment it's single- not multi-player.
    </p>
</section>
<section>
    <h2>Into 2024</h2>
    <p>
        Last year was mostly about <em>finishing things</em>. Finish more books. Finish more games. Finish a (first draft of a) side project.
        <br />
        That's good, but it means turning things up a notch in a way that I'm not sure is sustainable for me.
    </p>
    <p>
        This year, I have goals around improving what I already do.
    </p>
    <h3>Continue reading</h3>
    <p>
        I'm going to give myself a little break and not set an arbitrary goal like "more" or "1 a month."
        <br />
        I <em>should</em> read more, but I'll settle for just as much.
    </p>
    <p>
        One way I'm going to try to facilitate this is by <em>allowing myself to let go of untenable goals.</em>
        <br />
        If 2023 taught me anything, it's that I know when I'm in a situation that doesn't work for me, but I lie to myself that I just need to give it another chance or take a little break and come back to it and it'll all be fine.
        <br />
        <strong>I need to trust my instincts more.</strong>
    </p>
    <h3>Be more mindful of my health.</h3>
    <p>
        I did some road cycling in 2023, but I also consumed a lot of extra calories. I went to doctors less than I should have (although probably more than a lot of people). Good news: <a href="https://social.rdl.ph/@rockerest/110675731563456939">it wasn't cancer!</a>
        <br />
        This year, I want to be more mindful about my body (and how I feel in it), the things I consume, and my long-term health. I'll be 35 this year, and as I move into true middle-age (oof), it will be harder and harder to undo past mistakes.
        <br />
        Ultimately, I want to live with a more healthy mindset <strong>so that I don't have regrets about my health, my body, or my capabilities.</strong>
    </p>
    <h3>Say yes more often.</h3>
    <p>
        Many, many years ago, I realized that I had prevented myself from a full breadth of experience in life by saying no as a default. Trying to counteract that was why I moved states away from almost anyone I knew, it's why I bought a motorcycle (a calculated high-risk activity), and why I did any number of other things over the last decade-plus that were slightly out of my comfort zone.
        <br />
        Don't get me wrong, I have an incredible credit score (😉), I'm completely healthy, and I have a university degree and a privileged career and life. Living in a way that minimized my future risk <em>did</em> pay off, but my story is not interesting.
        <br />
        That is - in some ways - my biggest shame: I don't feel like I have an interesting story to tell about myself. I am an excellent listener, and I know how to ask a prodding question to get other people to keep talking, and I like that. I learn other people's stories and I'm a willing ear (and shoulder) for a lot of people.
        But I sometimes think I am this way because I don't want to talk about myself. I feel like I don't have anything interesting to say, so I'd rather other people talk instead.
    </p>
    <p>
        So this year, I'd like to say yes more - where it's appropriate. I want to increase the risk I take on, <em>even if that risk is just a false perception</em> where my brain is telling me I shouldn't do a thing because <em>what if somebody sees me and they don't think I'm <strong>cool enough 😱</strong>?</em>
        <br />
        Even if (especially if) it pushes me outside my comfort zone, I want to <strong>build a life that fosters experiences.</strong>
    </p>
    <h3>Make a dollar on the side.</h3>
    <p>
        Now that my <a href="https://games.rdlph.dev">side project for tracking games</a> is to a totally usable (if not polished or fully complete) state, I want to make a dollar in revenue from it this year.
        <br />
        Yes. One dollar. A single United States smackeroo. If I make more, great.
    </p>
    <p>
        By setting my goal to make <em>any money at all</em>, I will be forced to set up the mechanism for it, get the application onto a real domain name, and maybe even advertise it a little.
        <br />
        On that note, here's a testimonial from a real user who had extremely early alpha access.
    </p>
    <blockquote>
        I'm really enjoying your games website - I didn't realize I wanted it until I started using it, but being able to keep track of games I want to play/keep an eye on is super nice.
    </blockquote>
    <p>
        In a way, this has shown me a whole new problem: People don't know they want my product, but I think that's the entire premise of marketing...
    </p>
    <p>
        This year, I'd like to set the gears in motion to <strong>free myself from working for other people.</strong>
    </p>
</section>
<p>
  Alright, that's it for now. See you soon.
</p>
