---{
		"id": "7116c799-d5f6-4af1-ad48-d9976eb75a81",
    "authors": [
        "trandolph"
    ],
    "title": "A Good Code Review",
    "publish": "2022-11-14T07:45:00-07:00",
    "status": "published",
    "type": "long",
    "rssExclusive": false
}---
<p>If you've worked in software development for any amount of time, you've probably encountered The Code Review. This process is typical in almost every development organization.</p>
<section>
  <h3>What is code review?</h3>
  <p>The short explanation of what "code review" means is this: Someone other than the author looks at code changes and makes suggestions before the changes go into the product.</p>
</section>
<section>
  <h3>Why is code review?</h3>
  <p>Having experienced code review at many different companies and while interacting with open source projects with many different reviewers, I have whittled down my idea of what a code review should be to a few simple rules.</p>
  <p>Every single comment on a code review should address a failure of one of the following guidelines:</p>
  <ol>
    <li>Is this code effective in accomplishing the stated goal of the changes?</li>
    <li>Is this code obviously correct in execution (e.g. apparently defect-free)?</li>
    <li>Is this code free of major security or performance issues?</li>
  </ol>
  <p>Every code review comment should clearly address some problem with one of the three items above. If a comment does not, it should be explicitly self-identified as both <strong>non-blocking</strong> and an "opinion," "thought," or "concern." Sometimes an "opinion" can manifest as a "suggestion," but these are explicitly <strong>non-blocking</strong>, and should be self-identified as such.</p>
  <p>If a review does not address any of these issues, but also fails to self-identify as non-blocking opinions, consider that what the review does - in fact - is arbitrarily gatekeep software changes.</p>
  <p>The only meaningful review is one that catches implementation issues ("You said this does X, but in reality it does Y, which is similar, but not quite right."), or security flaws ("This would allow a malicious user to expose our database structure."). Reviews that contain anything else are meaningless <a href="https://en.wikipedia.org/wiki/Fear,_uncertainty,_and_doubt">FUD</a> that are used - most often - to enforce arbitrary adherance to actively harmful <a href="https://en.wikipedia.org/wiki/Cargo_cult_programming">cult practices</a>.</p>
</section>
<section>
  <h3>How is code review?</h3>
  <p>A convenient way to make sure your own code reviews are on target is to use a small table of "review metadata" to categorize them. You could include two items to start: "Type" and "Blocking".</p>
  <p>Type could be one of six options (but your values could vary):</p>
  <ul>
    <li><strong>Operation</strong>: This doesn't seem to accomplish the stated goal.</li>
    <li><strong>Defect</strong>: There seems to be a logic problem.</li>
    <li><strong>Security</strong>: This causes a security problem.</li>
    <li><strong>Performance</strong>: This causes a noticeable performance problem.</li>
    <li><strong>Thought</strong>: This made me think of something.</li>
    <li><strong>Suggestion</strong>: Here's another way to do this.</li>
  </ul>
  <p>The blocking value of your metadata would depend heavily on which type you use, but it's safe to say "Thought" or "Suggestion" types would be <strong>non-blocking</strong>, while the rest would almost certainly be <strong>blocking</strong> issues.</p>
  <p>Here's an example review metadata table:</p>
  <table>
    <tr>
      <td colspan="2">Review Comment Metadata</td>
    </tr>
    <tr>
      <td><strong>Type</strong></td>
      <td>Performance</td>
    </tr>
    <tr>
      <td><strong>Blocking</strong></td>
      <td>Yes</td>
    </tr>
  </table>
  <p>That table might follow a comment like: "When I ran this in my browser, all of my fans spun up to their max speed. I checked the memory profile and this change consumes 800MB of additional memory when the page loads."</p>
  <p>Suffice to say: If a review comment can't fall into any of these types, it probably doesn't have much value to the code author. Likewise: if none of a review's comments are blocking issues as defined above (Operation, Defect, Security, Performance), then the review should automatically be approved!</p>
</section>
