---{
	"id": "52e1212a-23f9-46cd-85da-2eb32bcdbf33",
    "authors": [
        "trandolph"
    ],
    "title": "Architecture Must Happen First",
    "publish": "2022-04-01T15:00:00-06:00",
    "status": "previewable",
    "type": "long",
    "rssExclusive": false
}---
<aside>Written based on <a href="https://twitter.com/rockerest/status/1509660770203627529">a Twitter thread</a>.</aside>

<iframe style="border:none" width="800" height="450" src="https://whimsical.com/embed/Mhf4rMDgj7UZ5fWJbEbjpW@2Ux7TurymMiGgGVwwjgK"></iframe>
