---{
		"id": "2d5b3a18-5243-4f8f-961b-43e0d6ee7752",
    "authors": [
        "trandolph"
    ],
    "title": "Ethical Web Principles",
    "publish": "2024-12-16T10:50:00-07:00",
    "status": "published",
    "type": "long",
    "rssExclusive": false
}---
<p>
  Last Thursday (December 12th, 2024), the World Wide Web Consortium's Technical Architecture Group (W3C TAG) released a statement - apropos of nothing, I'm sure - titled <a href="https://www.w3.org/TR/ethical-web-principles/">Ethical Web Principles</a>.
</p>

<aside>
  W3C "Statements" are a new type of W3C document not intended to be a formal standard, but are endorsed by the W3C. You can <a href="https://www.w3.org/standards/types/#STMT">read more about W3C STMT</a>.
</aside>

<section>
  <h2>Co-signed</h2>
  <p>
    I think the content could be even more incisive, but it's still absolutely excellent as it stands, and I fully co-sign the content. Working with me means that I will engage to the best of my ability using my own personal ethics, which overlaps with this statement in very large part.
  </p>
  <p>
    You can read a quick summary of the document (which is itself not that long), in <a href="https://www.w3.org/blog/2024/w3c-statement-on-ethical-web-principles-guides-the-community-to-build-a-better-web/">the blog post released simultaneously</a>.
  </p>
  <blockquote>
      <ul>
        <li>There is one web</li>
        <li>The web does not cause harm to society</li>
        <li>The web supports healthy community and debate</li>
        <li>The web is for all people</li>
        <li>The web is secure and respects people's privacy</li>
        <li>The web enables freedom of expression</li>
        <li>The web makes it possible to verify information</li>
        <li>The web enhances individuals' control and power</li>
        <li>The web is an environmentally sustainable platform</li>
        <li>The web is transparent</li>
        <li>The web is multi-browser, multi-OS, and multi-device</li>
        <li>The web can be consumed in any way that people choose</li>
      </ul>
  </blockquote>
</section>
