---{
		"id": "cec9126a-6ae4-433e-94c2-d66162c6a204",
    "authors": [
        "trandolph"
    ],
    "title": "Game Tracker devlog #1",
    "publish": "2022-11-18T02:35:00-07:00",
    "status": "published",
    "type": "long",
    "rssExclusive": false
}---
<p>
  A few months ago, I started working on a new web application.
  <figure style="width: 50%;" >
    <img src="https://res.cloudinary.com/rockerest/image/upload/v1668756827/gametracker-commits-initial.webp" alt="A commit graph showing many commits in August and September of 2022, but only a few in October." title="A commit graph showing many commits in August and September of 2022, but only a few in October." />
    <figcaption>
      My commits were pretty strong - almost daily - in August and September. All on this new app.
    </figcaption>
  </figure>
  <br />
  As with most apps I start building, this new one is to scratch my own itch. I've been using video game tracking (and movie tracking) sites for a long time, but I've never found a video game tracker that felt like the tool I wanted to use.
</p>
<p>
  When I started, I had all of the early-project drive, and I got a lot done (I have 51 cards in my "Done" column!). But then, I came to the first problem: a feature that would allow the user to write their own data back to the application store.
</p>
<p>
  No, I didn't get stuck on content moderation, I got stuck on the ability to submit a star rating.
</p>
<section>
  <h3>ENCAPSULATION!</h3>
  <p>
    To be clear: I didn't actually get stuck on making a star rating. What I got stuck on is the idea - which I believe in strongly - that UI components should not make network requests.
  </p>
  <p>
    Of course, network requests have to happen somewhere, so my approach for a long time has been to abstract those type of things (and every other kind of "not UI" action, too) out to another place.
    <br />
    This is super beneficial, because I can generalize any behavior, and I can exercise an event-driven architecture. However, it does have the one downside that I got stuck on: If I want to build an event-driven system and keep UI components clean, how far should I take that?
  </p>
  <p>
    After all, if it's events all the way up, then I could catch every single event in exactly one place and branch to triggering actual behaviors from there, right?
    <br />
    But, the problem (of course) is that those UI components need to react to events occurring. Obviously, this problem has been solved in the most over-engineered way possible with Flux libraries like Redux and Vuex. You publish an action or you use a getter, and you go through a whole store update cycle, and then that data flows back down into the component. You've heard the story.
  </p>
  <p>
    I have written - at length - about <a href="https://log.rdl.ph/post/fluxbus-an-application-architecture-pattern.html">Flux in the past</a>. As noted in that post, there <strong>are</strong> good parts to Flux. Namely, the directory full of actions that define how the application behaves.
  </p>
  <p>
    Where I get stuck, though, is when I have to put this into practice. I don't actually want to abstract everything away from the components. I'm also absolutely loathe to put "business logic" and network calls into a UI element.
    <br />
    Where I'm at - with an architecture like <a href="https://log.rdl.ph/post/fluxbus-2-2-flux-2-furious.html">Fluxbus</a> - feels like the best of both worlds: I'm boiling behaviors like data access, network calls, and more to a single event action that can be observed by any actor in the entire application. The component only issues those actions and they are handled elsewhere ("business logic", essentially). I'm not depending on a global object or magical variables just like how the VDOM libraries have done it - badly - for years.
    <br />
    But, I still don't like it.
  </p>
</section>
<p>
  So that's how I got stuck submitting a numeric star rating on an app I'm working on.
</p>
<p>
  Ultimately - like my refreshed approach to blogging ("just do it and worry about cleaning it up later") - I'm going to just forge ahead and deal with a refactor later.
</p>
<p>
  My concern is not that I may have to refactor, it's that I can't think of the next improvement on top of this to remove all of the annoying bits. I feel nearly paralyzed by imposter syndrome.
</p>
<hr />
<section>
  <h3>Links I've been pondering</h3>
  <ul>
    <li>
      <a href="https://www.arrow-js.com/">ArrowJS</a>
      <ul>
        <li>This library looks very cool!</li>
        <li>I can't believe we're still stuck in the <code>useState</code> era</li>
      </ul>
    </li>
    <li>
      <a href="https://bugs.chromium.org/p/chromium/issues/detail?id=649162">Chromium Issue 649162: Related inputs separated by shadow root do not autofill</a>
      <ul>
        <li>While I do not advocate ever using a Chromium-based browser HOO BOY when I did use one, this bug annoyed me literally every single day. It's been more than <strong>SIX YEARS</strong>!</li>
      </ul>
    </li>
    <li>
      <a href="https://blog.joinmastodon.org/2018/07/cage-the-mastodon/">Cage The Mastodon</a>
      <ul>
        <li>Small design decisions - like not implementing a "Quote Tweet" feature - can make big ripples. Mastodon is a better place for not encouraging dunking.</li>
      </ul>
    </li>
    <li>
      <a href="https://youtu.be/U9MV4ihg1BA?t=567">Social Media on the Philip DeFranco Show with Tristan Harris / Council for Responsible Social Media</a>
      <ul>
        <li>Speaking of toxic social media... I can't stop thinking about the concept of "Inflammation Entrepreneur."</li>
      </ul>
    </li>
  </ul>
</section>
