---{
		"id": "13ea326d-56b3-43a1-a120-587d74cc74ad",
    "authors": [
        "trandolph"
    ],
    "title": "Here's How 2021 Is Going So Far",
    "publish": "2021-03-11T12:30:00-07:00",
    "status": "published",
    "type": "long",
    "rssExclusive": false
}---
[<a href="https://mobile.twitter.com/rockerest/status/1370091628917063688" alt="The Twitter source of this blog post">Compiled from a Twitter thread</a>]

<p>
  The amount of Stockholm Syndrome in web development and overall engineering is mind-boggling and overwhelming.
</p>
<p>
  I don't even know where to start with people who <strong>love</strong> how hard frontend development is today.
</p>
<p>
  Frontend is undeniably <strong>complex</strong> (and extremely so). However, it does not have to be hard, or compiled, or heavy (in runtime and bytes). <span style="text-decoration: underline;">These are invented problems</span>.
</p>
<p>
  "Imagine if literally everything wasn't terrible." doesn't work when the recipient loves how it is right now.
</p>
<p>
  I'm so exhausted. Frontend development has devolved into a race to the most complicated solutions to already-solved problems and propped up by thoughtleadership that excommunicates anyone who dare speak out.
</p>
<p>
  You fall in line or you are labelled "obsolete."
</p>
<p>
  I think if this is how frontend web development is going now and into the future, I'd rather be obsolete. I don't want to be part of this travesty when we are ultimately mocked for it.
</p>
