---{
		"id": "1a1a4dc1-5bde-41b9-b8b5-17e073f32103",
    "authors": [
        "trandolph"
    ],
    "title": "I Don't Use AI",
    "publish": "2024-11-06T09:45:00-07:00",
    "status": "previewable",
    "type": "long",
    "rssExclusive": false
}---
<p>
  Here's why.
</p>
<h3>Table of Contents</h3>
<ol>
  <li>
    <a href="#unintelligence">
      AI isn't
    </a>
  </li>
  <li>
    <a href="#engineering-impairment">
      It makes engineers worse
    </a>
  </li>
  <li>
    <a href="#authorial-impairment">
      It makes writers worse
    </a>
  </li>
  <li>
    <a href="#cognitive-impairment">
      It makes cognition worse
    </a>
  </li>
  <li>
    <a href="#wrongness">
      The wrongness is the product
    </a>
  </li>
  <li>
    <a href="#externalities">
      It creates harmful external incentives
    </a>
  </li>
  <li>
    <a href="#consumption">
      It consumes barely-comprehensible amounts of resources
    </a>
  </li>
  <li>
    <a href="#trust">
      It undermines trust in information
    </a>
  </li>
  <li>
    <a href="#theft">
      It only exists because of massive intellectual theft
    </a>
  </li>
  <li>
     <a href="#dehumanization">
       Dehumanization is its core function
     </a>
  </li>
  <li>
    <a href="#involuntary-labor">
      It depends on involuntary labor for the benefit of a few individuals
    </a>
  </li>
</ol>
<section>
  <h2 id="unintelligence">AI isn't</h2>
</section>
<section>
  <h2 id="engineering-impairment">It makes engineers worse</h2>
</section>
<section>
  <h2 id="authorial-impairment">It makes writers worse</h2>
</section>
<section>
  <h2 id="cognitive-impairment">It makes cognition worse</h2>
</section>
<section>
  <h2 id="wrongness">The wrongness is the product</h2>
</section>
<section>
  <h2 id="externalities">It creates harmful external incentives</h2>
</section>
<section>
  <h2 id="consumption">It consumes barely-comprehensible amounts of resources</h2>
</section>
<section>
  <h2 id="trust">It undermines trust in information</h2>
</section>
<section>
  <h2 id="theft">It only exists because of massive intellectual theft</h2>
</section>
<section>
  <h2 id="dehumanization">Dehumanization is its core function</h2>
</section>
<section>
  <h2 id="involuntary-labor">It depends on involuntary labor for the benefit of a few individuals</h2>
</section>
<section>
	<h2 id="references">References</h2>
		<ul>
			<li>
				<a href="https://aftermath.site/moxie-robot-ai-dying-llm-embodied">https://aftermath.site/moxie-robot-ai-dying-llm-embodied</a>
			</li>
			<li>
				<a href="https://arstechnica.com/ai/2024/12/reddit-debuts-ai-powered-discussion-search-but-will-users-like-it">https://arstechnica.com/ai/2024/12/reddit-debuts-ai-powered-discussion-search-but-will-users-like-it</a>
			</li>
			<li>
				<a href="https://arstechnica.com/gaming/2024/12/itch-io-platform-briefly-goes-down-to-ai-driven-anti-phishing-report">https://arstechnica.com/gaming/2024/12/itch-io-platform-briefly-goes-down-to-ai-driven-anti-phishing-report</a>
			</li>
			<li>
				<a href="https://ali-alkhatib.com/blog/defining-ai">https://ali-alkhatib.com/blog/defining-ai</a>
			</li>
			<li>
				<a href="https://www.baldurbjarnason.com/notes/2024/interim-1/">https://www.baldurbjarnason.com/notes/2024/interim-1/</a>
			</li>
			<li>
				<a href="https://gizmodo.com/ai-is-detecting-more-breast-cancer-cases-study-suggests-2000534894">https://gizmodo.com/ai-is-detecting-more-breast-cancer-cases-study-suggests-2000534894</a>
			</li>
			<li>
				<a href="https://stuff.co.za/2024/12/07/a-rising-tide-of-e-waste-made-worse-by-ai/">https://stuff.co.za/2024/12/07/a-rising-tide-of-e-waste-made-worse-by-ai/</a>
			</li>
			<li>
				<a href="https://www.theatlantic.com/technology/archive/2024/12/openai-o1-reasoning-models/680906/?gift=iWa_iB9lkw4UuiWbIbrWGdT4_sPi9gCLOZGiikclbz8">https://www.theatlantic.com/technology/archive/2024/12/openai-o1-reasoning-models/680906/?gift=iWa_iB9lkw4UuiWbIbrWGdT4_sPi9gCLOZGiikclbz8</a>
			</li>
			<li>
				<a href="https://garymarcus.substack.com/p/hard-forked-casey-newt">https://garymarcus.substack.com/p/hard-forked-casey-newt</a>
			</li>
			<li>
				<a href="https://htmhell.dev/adventcalendar/2024/7/">https://htmhell.dev/adventcalendar/2024/7/</a>
			</li>
			<li>
				<a href="https://arstechnica.com/tech-policy/2024/12/chatbots-urged-teen-to-self-harm-suggested-murdering-parents-lawsuit-says/">https://arstechnica.com/tech-policy/2024/12/chatbots-urged-teen-to-self-harm-suggested-murdering-parents-lawsuit-says/</a>
			</li>
			<li>
				<a href="https://www.microsoft.com/en-us/microsoft-cloud/blog/2024/12/09/sustainable-by-design-next-generation-datacenters-consume-zero-water-for-cooling/">https://www.microsoft.com/en-us/microsoft-cloud/blog/2024/12/09/sustainable-by-design-next-generation-datacenters-consume-zero-water-for-cooling/</a>
			</li>
			<li>
				<a href="https://arstechnica.com/information-technology/2024/12/ai-company-trolls-san-francisco-with-billboards-saying-stop-hiring-humans/">https://arstechnica.com/information-technology/2024/12/ai-company-trolls-san-francisco-with-billboards-saying-stop-hiring-humans/</a>
			</li>
			<li>
				<a href="https://www.dair-institute.org/research/">https://www.dair-institute.org/research/</a>
			</li>
			<li>
				<a href="https://www.reuters.com/legal/transactional/us-judge-runs-mini-experiment-with-ai-help-decide-case-2024-09-06/">https://www.reuters.com/legal/transactional/us-judge-runs-mini-experiment-with-ai-help-decide-case-2024-09-06/</a>
			</li>
			<li>
				<a href="https://arstechnica.com/science/2024/12/ai-helps-id-paint-chemistry-of-berlin-wall-murals/">https://arstechnica.com/science/2024/12/ai-helps-id-paint-chemistry-of-berlin-wall-murals/</a>
			</li>
			<li>
				<a href="https://time.com/7201556/generative-ai-time-journalism/">https://time.com/7201556/generative-ai-time-journalism/</a>
			</li>
			<li>
				<a href="https://arstechnica.com/tech-policy/2024/12/character-ai-steps-up-teen-safety-after-bots-allegedly-caused-suicide-self-harm/">https://arstechnica.com/tech-policy/2024/12/character-ai-steps-up-teen-safety-after-bots-allegedly-caused-suicide-self-harm/</a>
			</li>
			<li>
				<a href="https://arstechnica.com/ai/2024/12/are-llms-capable-of-non-verbal-reasoning/">https://arstechnica.com/ai/2024/12/are-llms-capable-of-non-verbal-reasoning/</a>
			</li>
			<li>
				<a href="https://fortune.com/2024/12/05/amazon-developers-spend-hour-per-day-coding">https://fortune.com/2024/12/05/amazon-developers-spend-hour-per-day-coding</a>
			</li>
			<li>
				<a href="https://loudpoet.com/2024/12/13/the-ai-in-publishing-hype-train-needs-to-be-derailed/">https://loudpoet.com/2024/12/13/the-ai-in-publishing-hype-train-needs-to-be-derailed/</a>
			</li>
			<li>
				<a href="https://arstechnica.com/information-technology/2024/12/twirling-body-horror-in-gymnastics-video-exposes-ais-flaws">https://arstechnica.com/information-technology/2024/12/twirling-body-horror-in-gymnastics-video-exposes-ais-flaws</a>
			</li>
			<li>
				<a href="https://softwarecrisis.dev/letters/llmentalist/">https://softwarecrisis.dev/letters/llmentalist/</a>
			</li>
			<li>
				<a href="https://www.bbc.com/news/articles/cd0elzk24dno">https://www.bbc.com/news/articles/cd0elzk24dno</a>
			</li>
			<li>
				<a href="https://www.mercurynews.com/2024/12/13/openai-whistleblower-found-dead-in-san-francisco-apartment/">https://www.mercurynews.com/2024/12/13/openai-whistleblower-found-dead-in-san-francisco-apartment/</a>
			</li>
			<li>
				<a href="https://time.com/7202312/new-tests-reveal-ai-capacity-for-deception/">https://time.com/7202312/new-tests-reveal-ai-capacity-for-deception/</a>
			</li>
			<li>
				<a href="https://www.mcgarrsolicitors.ie/2024/12/18/overview-on-edpb-opinion-28-2024-on-personal-data-in-ai-models/">https://www.mcgarrsolicitors.ie/2024/12/18/overview-on-edpb-opinion-28-2024-on-personal-data-in-ai-models/</a>
			</li>
			<li>
				<a href="https://www.wired.com/story/generative-ai-will-need-to-prove-its-usefulness/">https://www.wired.com/story/generative-ai-will-need-to-prove-its-usefulness/</a>
			</li>
			<li>
				<a href="https://www.theverge.com/2024/12/23/24326077/i-asked-chatgpt">https://www.theverge.com/2024/12/23/24326077/i-asked-chatgpt</a>
			</li>
			<li>
				<a href="https://bmjgroup.com/almost-all-leading-ai-chatbots-show-signs-of-cognitive-decline/">https://bmjgroup.com/almost-all-leading-ai-chatbots-show-signs-of-cognitive-decline/</a>
			</li>
			<li>
				<a href="https://www.bcs.org/articles-opinion-and-research/does-current-ai-represent-a-dead-end/">https://www.bcs.org/articles-opinion-and-research/does-current-ai-represent-a-dead-end/</a>
			</li>
			<li>
				<a href="https://www.forbes.com/sites/bryanrobinson/2024/07/23/employees-report-ai-increased-workload/">https://www.forbes.com/sites/bryanrobinson/2024/07/23/employees-report-ai-increased-workload/</a>
			</li>
			<li>
				<a href="https://daniel.haxx.se/blog/2024/01/02/the-i-in-llm-stands-for-intelligence/">https://daniel.haxx.se/blog/2024/01/02/the-i-in-llm-stands-for-intelligence/</a>
			</li>
			<li>
				<a href="https://www.cnbc.com/2025/01/07/openais-sam-altman-denies-sexual-abuse-allegations-made-sister-ann.html">https://www.cnbc.com/2025/01/07/openais-sam-altman-denies-sexual-abuse-allegations-made-sister-ann.html</a>
			</li>
			<li>
				<a href="https://www.lesswrong.com/posts/QDczBduZorG4dxZiW/sam-altman-s-sister-annie-altman-claims-sam-has-severely">https://www.lesswrong.com/posts/QDczBduZorG4dxZiW/sam-altman-s-sister-annie-altman-claims-sam-has-severely</a>
			</li>
			<li>
				<a href="https://www.mdpi.com/2075-4698/15/1/6">https://www.mdpi.com/2075-4698/15/1/6</a>
			</li>
			<li>
				<a href="https://hachyderm.io/@dalias/110528154854288688">https://hachyderm.io/@dalias/110528154854288688</a>
			</li>
			<li>
				<a href="https://gerrymcgovern.com/big-tech-lies-about-its-water-use/ ">https://gerrymcgovern.com/big-tech-lies-about-its-water-use/ </a>
			</li>
			<li>
				<a href="https://advait.org/files/lee_2025_ai_critical_thinking_survey.pdf ">https://advait.org/files/lee_2025_ai_critical_thinking_survey.pdf </a>
			</li>
			<li>
				<a href="https://www.404media.co/microsoft-study-finds-ai-makes-human-cognition-atrophied-and-unprepared-3/">https://www.404media.co/microsoft-study-finds-ai-makes-human-cognition-atrophied-and-unprepared-3/</a>
			</li>
			<li>
				<a href="https://gizmodo.com/chatgpts-political-views-are-shifting-right-a-new-analysis-finds-2000562328">https://gizmodo.com/chatgpts-political-views-are-shifting-right-a-new-analysis-finds-2000562328</a>
			</li>
			<li>
				<a href="https://newsocialist.org.uk/transmissions/ai-the-new-aesthetics-of-fascism/">https://newsocialist.org.uk/transmissions/ai-the-new-aesthetics-of-fascism/</a>
			</li>
			<li>
				<a href="https://theinternet.review/2025/02/15/bad-summaries/">https://theinternet.review/2025/02/15/bad-summaries/</a>
			</li>
			<li>
				<a href="https://www.miriamsuzanne.com/2025/02/12/tech-ai-wtf/">https://www.miriamsuzanne.com/2025/02/12/tech-ai-wtf/</a>
			</li>
			<li>
				<a href="https://retractionwatch.com/2025/02/10/vegetative-electron-microscopy-fingerprint-paper-mill/">https://retractionwatch.com/2025/02/10/vegetative-electron-microscopy-fingerprint-paper-mill/</a>
			</li>
			<li>
				<a href="https://www.bbc.co.uk/aboutthebbc/documents/bbc-research-into-ai-assistants.pdf">https://www.bbc.co.uk/aboutthebbc/documents/bbc-research-into-ai-assistants.pdf</a>
			</li>
			<li>
				<a href="https://www.newsguardrealitycheck.com/p/a-well-funded-moscow-based-global">https://www.newsguardrealitycheck.com/p/a-well-funded-moscow-based-global</a>
			</li>
			<li>
				<a href="https://thewalrus.ca/i-used-to-teach-students-now-i-catch-chatgpt-cheats">https://thewalrus.ca/i-used-to-teach-students-now-i-catch-chatgpt-cheats</a>
			</li>
			<li>
				<a href="https://www.rfi.fr/en/international-news/20250310-russian-disinformation-infects-ai-chatbots-researchers-warn">https://www.rfi.fr/en/international-news/20250310-russian-disinformation-infects-ai-chatbots-researchers-warn</a>
			</li>
		</ul>
	</h2>
</section>
