---{
		"id": "1a1a4dc1-5bde-41b9-b8b5-17e073f32103",
    "authors": [
        "trandolph"
    ],
    "title": "I Don't Use AI",
    "publish": "2024-11-06T09:45:00-07:00",
    "status": "previewable",
    "type": "long",
    "rssExclusive": false
}---
<p>
  Here's why.
</p>
<h3>Table of Contents</h3>
<ol>
  <li>
    <a href="#unintelligence">
      AI isn't
    </a>
  </li>
  <li>
    <a href="#engineering-impairment">
      It makes engineers worse
    </a>
  </li>
  <li>
    <a href="#authorial-impairment">
      It makes writers worse
    </a>
  </li>
  <li>
    <a href="#cognitive-impairment">
      It makes cognition worse
    </a>
  </li>
  <li>
    <a href="#wrongness">
      The wrongness is the product
    </a>
  </li>
  <li>
    <a href="#externalities">
      It creates harmful external incentives
    </a>
  </li>
  <li>
    <a href="#consumption">
      It consumes barely-comprehensible amounts of resources
    </a>
  </li>
  <li>
    <a href="#trust">
      It undermines trust in information
    </a>
  </li>
  <li>
    <a href="#theft">
      It only exists because of massive intellectual theft
    </a>
  </li>
  <li>
     <a href="#dehumanization">
       Dehumanization is its core function
     </a>
  </li>
  <li>
    <a href="#involuntary-labor">
      It depends on involuntary labor for the benefit of a few individuals
    </a>
  </li>
</ol>
<section>
  <h2 id="unintelligence">AI isn't</h2>
</section>
<section>
  <h2 id="engineering-impairment">It makes engineers worse</h2>
</section>
<section>
  <h2 id="authorial-impairment">It makes writers worse</h2>
</section>
<section>
  <h2 id="cognitive-impairment">It makes cognition worse</h2>
</section>
<section>
  <h2 id="wrongness">The wrongness is the product</h2>
</section>
<section>
  <h2 id="externalities">It creates harmful external incentives</h2>
</section>
<section>
  <h2 id="consumption">It consumes barely-comprehensible amounts of resources</h2>
</section>
<section>
  <h2 id="trust">It undermines trust in information</h2>
</section>
<section>
  <h2 id="theft">It only exists because of massive intellectual theft</h2>
</section>
<section>
  <h2 id="dehumanization">Dehumanization is its core function</h2>
</section>
<section>
  <h2 id="involuntary-labor">It depends on involuntary labor for the benefit of a few individuals</h2>
</section>
