---{
		"id": "76d8d726-e80a-49c3-95be-3d98c643fc7d",
    "authors": [
        "trandolph"
    ],
    "title": "It seems pretty clear that there are fundamentals of web development",
    "publish": "2023-03-23T11:51:00-06:00",
    "status": "published",
    "type": "long",
    "rssExclusive": false
}---
<p>
  Laurie Voss recently wrote <a href="https://seldo.com/posts/theres-no-such-thing-as-the-fundamentals">There's no such thing as the fundamentals of web development</a>.
  <br />
  In that post, he makes the claim that there are two ways to disagree with him: on what fundamentals are, and on what web development is.
  <br />
  The beginning of the post is spent - ostensibly - showing how neither of those arguments apply. He also later frames any disagreement with his position as "gatekeeping" and "for the weak," which is convenient, since it's a built in ad hominem attack!
</p>
<p>
  Anyway, in the section with the heading that reads "What is a fundamental?", the post goes into great depth making a comparison to vehicles. In fact, the entire section is about vehicles. It is not at any time about web development, but let's go ahead with talking about vehicles.
</p>
<section>
  <h2>That's not what your supporting evidence says</h2>
  <p>
    Let's begin with the easiest problem: the definition of "fundamental" that Laurie writes in his post is not supported by the source he says he drew it from.
    <br />
    Laurie wrote:
    <blockquote>I apologize for reaching for a <a href="https://www.merriam-webster.com/dictionary/fundamental">dictionary definition</a> of fundamental, but it is "forming a necessary base or core; of central importance"
  </blockquote>
  <br />
  This is not what the Merriam-Webster dictionary says at the link provided. Merriam-Webster reads:
  <blockquote>serving as a basis supporting existence or determining essential structure or function</blockquote>
  <br />
  That's the first definition. Down at number 3 is
  <blockquote>of central importance</blockquote>
  <br />
  It's probably worth noting that definition 1B is
  <blockquote>serving as an original or generating source</blockquote>
  <br />
  Definition 2 (A, B is a description of religious fundamentalism) is:
  <blockquote>of or relating to essential structure, function, or facts</blockquote>
  and
  <blockquote><em>also</em> : of or dealing with general principles rather than practical application</blockquote>
    <br />
    I would apologize for reaching for a dictionary definition, but... you know... he started it. (Also I am not sorry, and apologizing would be disingenuous).
    <br />
    While we're here, here are some other dictionaries' definitions of "fundamental":
    <br />
    <a href="https://www.dictionary.com/browse/fundamental">Dictionary.com</a>:
    <blockquote>serving as, or being an essential part of, a foundation or basis; basic; underlying</blockquote>
    <br />
    <a href="https://dictionary.cambridge.org/dictionary/english/fundamental">Cambridge Dictionary</a>:
    <blockquote>forming the base, from which everything else develops</blockquote>
  </p>
  <p>
  It's pretty clear that Laurie created a definition of "fundamental" that more readily fit with his premise that there are no fundamentals of web development.
</p>
<p>
  If we take all of the primary definitions of "fundamental":
</p>
<ul>
  <li>serving as a basis supporting existence or determining essential structure or function</li>
  <li>serving as, or being an essential part of, a foundation or basis; basic; underlying</li>
  <li>forming the base, from which everything else develops</li>
</ul>
<p>
  It's quite clear what would define a "fundamental": A basic thing that defines the underlying function. It would form a base, you know, from which everything else develops.
  <br />
  Clearly there are fundamentals. You could talk about physics (electricity) or processors (and their transistors) or networking or assembly code or higher-level programming languages or web browsers or the languages that run the web (HTML, CSS, JavaScript) or frameworks or no-code website builders. But no matter where you draw the line it is obvious that development does not spring forth fully formed without any fundamentals.
  <br />
  It does not spring forth fully formed in the same way that basic algebra does not spring forth fully formed. Sure, you can absolutely stumble into algebra on accident, but that doesn't mean that a number system with defined rules ceases to exist. The fundamentals are still there; you knowing whether the fundamentals exist or not does not change their existence.
  <br />
  Perhaps the second Merriam-Webster definition bears repeating here:
  <blockquote>of or relating to essential structure, function, or facts</blockquote>
  <br />
  The facts, function, and essential structure of web development do not exist based on your understanding of them. They just are.
</p>
</section>
<section>
  <h2>Carving a lot out of a car is not the same as no car</h2>
  <p>
    As noted, this section talks only about vehicles. It's a neat metaphor because many people understand cars and - sure - we'll go with it. The problem that I will gloss over for the sake of length here is that the car metaphor is never linked back to web development. The reader is left to connect all the dots for themselves, which is a clever way to tap into our motivated reasoning so that we can assign meaning and connection all by ourselves. We all think it means whatever we thought going in, so we nod along, building agreement momentum.
    <br />
    So if I'm glossing over all that, what is the real problem?
    <br />
    The problem is that this whole section is just about defining what a car fundamental <strong>is not</strong>. Let me briefly demonstrate what something is not:
  </p>
  <ul>
    <li>It is not a dog.</li>
    <li>It is not grass.</li>
    <li>It is not a copper pipe.</li>
    <li>It is not the emotion love.</li>
    <li>It is not a mitochondria.</li>
  </ul>
  <p>
    Have you gotten it yet? It was a paper airplane.
    <br />
    A section dedicated entirely to defining what is <strong>not</strong> a fundamental of a vehicle does not magically prove that there are none, it merely proves that the non-exhaustive list of things hasn't yet included one. Since we've already gotten pedantic, let's be clear this is a <a href="https://www.logicalfallacies.org/ignoratio-elenchi.html">ignoratio elenchi</a> argument - an irrelevant conclusion. Sure, those are not the fundamentals for driving a car, what of it? It's a fun game to <a href="https://www.logicalfallacies.org/">see how many more you can spot</a>.
    <br />
    This entire section does nothing to prove that there are no fundamentals of web development, it merely defines a lot of what are not fundamentals of driving a car and expects the reader to conveniently connect some unrelated dots.
  </p>
  </section>
  <section>
  <h2>Please elaborate on this thought that says there are some fundamentals</h2>
  <p>
    This isn't even my strongest argument, but it's the funniest one, so what the hell.
  </p>
  <p>
    In Laurie's section about vehicles - meant to promptly dismiss our idea that there might be web development fundamentals by short-circuiting our brains to agree with unrelated nonsense - he writes this line:
    <blockquote>Fundamental to driving a car is understanding how to operate it: what the accelerator does, what the brakes do, and what effect turning the steering wheel will have.</blockquote>
  <br />
  So, in the metaphor where we are talking about cars as a stand-in for web development, Laurie wrote: <strong><em>"Fundamental to driving a car is [...]"</em></strong>
  <br />
  Let's dispense with the obfuscation: <strong><em>"Fundamental to web development is [...]"</em></strong>
  </p>
  <p>
  Expand on that, there might be something there.
  </section>
