---{
	"id": "71140904-efbb-4a88-b5a1-524d2e373b23",
    "authors": [
        "trandolph"
    ],
    "title": "Making a Game in JavaScript - Part 1",
    "publish": "2018-04-16T23:45:00-06:00",
    "status": "published",
    "type": "long",
    "rssExclusive": false
}---
<section>
	<h2>Hello.</h2>
	<p>
		It is me, 28 year-old Tom.
	</p>
	<p>
		I have ceased to gain any enjoyment from video games.
	</p>
	<p>
		This is a major depressive event in my life, and I'm struggling to cope with it.
	</p>
	<p>
		While I figure this out, would you like to come along with me while I try to teach myself game development in <a href="http://phaser.io/">Phaser 3</a>?
	</p>
	<p>
		I promise it'll be a hilarious shitshow, since the current version of Phaser is 3.5 and the documentation isn't even online yet. Better yet, I have no experience with game development except for <a href="https://gitlab.com/rockerest/rebar">this tile renderer I built</a> and this <a href="http://naughty-swirles-8199ef.netlify.com/phaser-3-first-game/">implementation of the only useful Phaser 3 documentation - "Your First Phaser 3 Game"</a>
	</p>
</section>
<section>
	<h2>Step 1: What to plagiarize?</h2>
	<p>
		First things first: pick a suitable first game.
	</p>
	<p>
		<a href="https://en.wikipedia.org/wiki/Pong">Pong</a> was arguably one of the first "video games" ever created, and features extremely simple gameplay:
	</p>
	<ul>
		<li>
			Two paddles move vertically on the left and right sides of the screen.
		</li>
		<li>
			A ball moves around the screen bouncing off the top and bottom and off the paddles.
		</li>
		<li>
			There's a dashed line down the middle.
		</li>
		<li>
			There's a simple integer score at the top of each player's side - first to 11 wins (failing to return the ball is a point for the opponent).
		</li>
		<li>
			The game makes a noise when the ball: strikes the floor or ceiling, strikes a paddle, or exits the playing field
		</li>
	</ul>
	<p>
		There are a couple special features that the original developer put into the game:
	</p>
	<ul>
		<li>
			The ball accelerates slightly the longer it's been in the game.
		</li>
		<li>
			The paddles can't quite get to the top of the screen (a <em>hardware</em> bug, in the original!)
		</li>
		<li>
			The paddles are divided into eight sections, where the center two segments return the ball at 90° to the paddle (perpendicular), and each segment moving outward returns the ball at slighly smaller angles.
		</li>
	</ul>
	<p>
		Some other things I noticed about the <a href="https://www.youtube.com/watch?v=fiShX2pTz9A">original game</a>:
	</p>
	<ul>
		<li>
			<p>
				Boy, this thing is a <strong>lot</strong> harder than I remember from when I played with a home TV console kind of like the one pictured below.
				<br />
				<img src="https://res.cloudinary.com/rockerest/image/upload/v1639130788/making-a-game-in-javascript-part-1-pong-console.jpg" alt="A seventies style pong console, with vertical slider inputs 'docked' to the left and right of the center control console, which has the game configuration buttons and dials."/>
				<br />
				The in-game paddles are tiny and the analog control makes lining up a defense <em><strong>difficult</strong></em>. Maybe this was just a function of the arcade / cabinet implementation of the first iteration.
			</p>
		</li>
		<li>
			When you win, the paddles disappear and the ball bounces around as if there are walls just off-screen on the left and right. The score stays up - mocking the loser.
		</li>
	</ul>
</section>
<section>
	<h2>Step 2: What do I need?</h2>
	<p>
		Without question, I'm going to need 4 static assets:
	</p>
	<ul>
		<li>
			<p>
				A single, white, 1px by 1px graphic.
			</p>
			<p>
				I can scale this to any size I want with Phaser's built in image scaling, and all of the game is some combination of a white rectangle on the black background.
			</p>
			<p>
				I don't know of any performance problem with doing the scaling in-game, and I also don't know of any way to generate graphics that I can apply physics to in-game without having any static images. I'm almost positive there must be a way, but programmatically generating graphics is well outside the scope of this segment of my learning.
			</p>
		</li>
		<li>
			<p>
				A sound effect for the paddle strike, the floor/ceiling strike, and for scoring.
			</p>
			<p>
				I've never used Phaser's built-in Audio engine, so this one will be a challenge. I also don't know where I'll get free audio clips, but I'm sure I can figure something out.
			</p>
		</li>
	</ul>
</section>
<section>
	<h2>Step 3: What do I do?</h2>
	<p>
		I'll need three physics bodies: the ball, and the two paddles. The paddles will be controllable by the keyboard (mouse as a future upgrade!), and the ball will just bounce around with standard "arcade" physics. Since Phaser ships arcade physics by default (as well as something called P2 physics, which looks like it can do <strong>all</strong> the big boy physics engine things), this will be utterly trivial to implement.
	</p>
	<p>
		Of course, there will need to be a bit of logic around bouncing off the top and bottom but scoring at the left and right. Likewise, implementing the varying angles of bounce off the paddles will require some interesting logic. I <strong>think</strong> there's a way to determine which parts of the objects collide with each other, and I <strong>think</strong> it's baked into the default Phaser physics colliders, but I'm not sure. Boy, it'd be nice to have online docs.
	</p>
	<p>
		Generating a ball always starts at the center line and flies - at a random angle - at the last player who was scored on. This is a great implementation to really just grind the salt into your worst enemy's wounds, since it's really hard to react to the ball given that you have <strong>half the time you have during regular play</strong>. In the original implementation, you had to have been a masochist to have fun, and some people are really into that kind of thing, I've found out:
  </p>
		<blockquote>
			As you became better friends, you could put down your beer and hug. You could put your arm around the person. You could play left-handed if you so desired. In fact, there are a lot of people who have come up to me over the years and said, 'I met my wife playing Pong,' and that's kind of a nice thing to have achieved. &ndash; Nolan Bushnell, on Pong, quoted from Wikipedia, quoting from Next Generation magazine, 11 April 1995
		</blockquote>
  <p>
		Kinky.
	</p>
	<p>
		To start with, the score can just be text rendered onto the screen. Like the original game, text in Phaser doesn't interact with the game physics, so there's nothing extra to do there. As a side note, it might be a fun exercise to make some kind of game where the game text like the score <strong>is</strong> a part of the game physics.
	</p>
	<p>
		For the audio, I'll have to figure out how the Phaser Audio API works, but since all I need to do it play a short sound on paddle and floor / ceiling collisions, plus a sound when a score happens, I suspect I'll only need to learn a couple functions, like - just guessing here - <code>loadSound</code> and <code>playSound</code>. We'll see.
	</p>
</section>
<section>
	<h2>I'm off</h2>
	<p>
		I'm going to go off and do this and try to ignore the existential dread that maybe interactive entertainment isn't <strong>for</strong> me - an old - any more, and maybe now I'm one of the mindless consumer-only TV-watching drones that I hate.
	</p>
	<p>
		I'll post again when I've finished my implementation of Pong with a wrap up of how it went and what I misjudged from the start.
		<br />
		So anyway, cheers! See you next time!
	</p>
</section>
