---{
		"id": "d0828755-118a-4cc1-9ecd-fb7fc49e05c2",
    "authors": [
        "trandolph"
    ],
    "title": "Mastodon for People Who Don't Like Mastodon",
    "publish": "2022-11-13T09:40:00-07:00",
    "status": "published",
    "type": "long",
    "rssExclusive": false
}---
<p>Have you considered leaving Twitter, heard about Mastodon, checked it out, and didn't like it?</p>

<p>I'm sorry to hear that, but maybe this quick, no-BS explainer will help you get acclimated to something that isn't owned by a billionaire.</p>

<section>
  <h3>I don't like servers or instances or whatever. Where is mastodon.com?</h3>
  <p>It's <a href="https://mastodon.social">mastodon.social</a>. Yes, there are lots of other ones, but if you just want the "twitter.com of Mastodon," just sign up on mastodon.social.</p>

  <h3>Usernames are annoying</h3>
  <p>Okay.<br /><br />Think of them like email addresses. Nobody could email you at <code>@username</code> unless there was a single, monolithic email service that controlled all email, so we use <code>username@[your email service]</code>. Maybe you use <code>username@gmail.com</code>, but you could also use <code>username@hotmail.com</code> and it still works because it's a standardized email protocol. Mastodon works the same way, so you would use <code>@username@[your mastodon service]</code>. In your case: <code>@username@mastodon.social</code>.

  <h3>Nobody I like is there ☹️</h3>
  <p>Maybe, but also maybe not.<br /><br />Anyway, Twitter was also a weird place in the early days with only the earliest adopters there, too. Maybe you can be a tech leader this time!?</p>

  <h3>But, like, where are all the interesting conversations?</h3>
  <p>Ah, well, they're happening, you just have to find the individuals having those conversations and follow them.</p>
  <p>See, the biggest difference between Twitter and Mastodon is that there's no algorithm on Mastodon. There's no computer trying to juice engagement by showing you the hottest takes sure to elicit the most angry responses. There's no engagement boost when you favorite a post, or when you "ratio" a post. In fact, there's no incentive at all to posting or engaging except the real human part of that. Like something? Favorite it. Only you and the author will know. Isn't that a pleasant human interaction?</p>

  <h3>I want to retweet.</h3>
  <p>Sure.<br /><br />They're called "boosts" on Mastodon, and you can do them as much as you want. The only difference is there's no Quote Tweeting. Quote Tweeting is a great way to dunk on somebody, but a terrible way to have a real conversation, so you can't do it. You can reply to them, though. It's much more civil!</p>

  <h3>I want to heart tweets.</h3>
  <p>Sure.<br /><br />You can favorite (it's a star, like how Twitter used to be) posts. They're called "posts" on Mastodon (or "toots", but you can call them posts if "toots" sounds silly. Nobody cares. It was named by a person who didn't speak English as their first language, and they didn't know "toot" had a connotation other than the elephant sound in English.)</p>

  <h3>"toot" is cringe.</h3>
  <p>Saying things are cringe is cheugy.</p>
  <p>Anyway, why is the sound an elephant makes (toot!) worse than the sound a bird makes (tweet!)? I like <a href="https://en.wikipedia.org/wiki/Proboscidea">Proboscideans</a> more.</p>

  <h3>I like apps. I want to use an app.</h3>
  <p>Sure. Define "app."<br /><br />Haha, just kidding. I know what you mean.<br /><br />One of the most popular Mastodon apps is <a href="https://play.google.com/store/apps/details?id=com.keylesspalace.tusky&pli=1">Tusky</a> (Android only). If you're on iOS, you can use <a href="https://apps.apple.com/us/app/mastodon-for-iphone-and-ipad/id1571998974">the official app</a>. For either platform, however, you might as well just install the PWA. Mastodon is a full-featured web application that you can install directly from the web page (use your phone's browser's "install" menu option). It looks and feels just like a native app, but it's always up to date and live just like a web site.</p>

  <h3>Why is following some people hard?</h3>
  <p>Basically, for the same reason that you have to type the full email address of a contact.</p>
  <p>A good way to think of following people on Mastodon is like subscribing to a newsletter: Sure, you can go to someone's page and see the button to sign up for their newsletter, but you still have to type in <strong>your</strong> email address for their newsletter to reach you. You <strong>both</strong> have to be aware of each other for the connection to work.</p>
  <p>There's a quick and easy work-around if you ever see that irritating window asking you to type in <strong>your</strong> username, though.</p>
  <ol>
    <li>When you're on a person's profile page, copy their username. Again, that's the bit that looks like <code>@[the thing they picked]@[the server they're using]</code>. Mine is <code>@rockerest@mastodon.social</code>.</li>
    <li>Go back to your own account.</li>
    <li>Paste the username of the person you copied earlier into the search field and submit the search.
      <ul>
        <li>Mobile: Click the "Explore" tab (it's the one that looks like a <a href="https://en.wikipedia.org/wiki/Number_sign">number sign</a> or a hashtag).</li>
        <li>Official App: Tap the search magnifying glass.</li>
        <li>Desktop: The search input is at the top left.</li>
      </ul>
    </li>
    <li>Press the "Follow" icon next to their account.</li>
  </ol>

  <h3>I can pay to edit my tweets and get fewer ads on Twitter.</h3>
  <p>Bummer!<br /><br />All of that stuff is free on Mastodon! The latest version of Mastodon (which <a href="http://mastodon.social">mastodon.social</a> is using) has editing built in, and since there's no company trying to monetize your attention, there aren't any ads at all.</p>

  <h3>But if I pay on Twitter they give me a checkmark.</h3>
  <p>Well that seems like a great way to devalue identity verification - which should be a public service.</p>
  <p>Anyway, Mastodon has something a little similar, but you self-certify by modifying a website that you control to point back to your Mastodon account. It's pretty easy to do by just <a href="https://docs.joinmastodon.org/user/profile/#verification">adding <code>rel="me"</code> on a link to your Mastodon account</a>.

  <h3>I don't have a website.</h3>
  <p>Another bummer!<br /><br />As you move out of centralized services like Twitter to "less centralized" services (like the federated services of Mastodon), it might be a good idea to consider who owns your data!</p>
  <p>Before - on Twitter - Twitter owned all of your data. Leaving Twitter is hard because it's there - and absolutely nowhere else. In environments like Mastodon, <strong><em>you</em></strong> control your data, which means it's especially helpful to have your own website (it can be free!).</p>
  <p>I don't want to get all starry-eyed in this "no-BS" guide, but if you're considering leaving a centralized service like Twitter, you might have that spark of individuality, too! A personal website is a great way to control who owns your voice and your data, and as a side effect, you can make the link on your Mastodon profile highlight green with a checkmark if you self-verify with a link back 😀.</p>

  <h3>What the heck; there are too many timelines!</h3>
  <p>I feel you.<br /><br />If you're not following anyone, the best place to get started is your "Local Timeline." That's everybody else on your server. It's like all the tweets on Twitter.com.<br />Once you're following people, "Home" is your feed of posts from everybody you're following, in chronological order (remember, there's no profit-driven algorithm here, just an honest-to-goodness timeline).</p>
  <p>If you really want to go crazy, the "Federated Timeline" is... well it's every post from every person on every server (that your server knows about).<br />This is like if hundreds of people were each running their own Twitter.com and each of those Twitter.coms each had thousands and thousands of users.<br /><br />I don't find the Federated timeline all that useful because it's a massive firehose of posts, and - because Mastodon is used by people all over the world - it's almost never in a language I speak! (You can filter posts to only languages you know in your preferences, but most people don't seem to change their post language from the default "EN," so I still get many posts I can't read.<br /><br />
    Stick to "Home" and "Local Timeline," they'll serve you best.</p>

  <h3>Why are lots of posts on Mastodon hidden behind a "Show More" button?</h3>
  <p>Some parts of Mastodon culture (and there are lots of them, so don't assume this is universal), feel that using the "Content Warning" ("CW") button when creating a post creates a super safe space for everyone on the platform. They put a general "subject" of the post, and then put the actual content inside the "hidden" content. If you're talking about very hard subjects, this is definitely kind to people who may not want to read about those things. It's also convenient when you're just talking about random topics like "politics" so people can choose whether they want to even engage with that.</p>
  <p>However, using Content Warnings isn't a requirement. If you don't like it, don't feel obligated to use it. Some people might say that Mastodon culture <em>always</em> uses content warnings for any potentially sticky subject, but the bottom line is that there is no single "Mastodon culture," so do what feels right to you (but follow <a href="https://mastodon.social/about">the rules of the server</a> you're on.)
</section>
<hr />
<section>
  <p>Do you still have concerns or questions about Mastodon?</p>
  <p>You can contact me directly at <a href="https://mastodon.social/@rockerest">@rockerest@mastodon.social</a> and I'll try to add it to this document.</p>
  <p>Happy tooting!</p>
