---{
		"id": "76f4b3dc-6842-4e2f-9163-106979cc71f0",
    "authors": [
        "trandolph"
    ],
    "title": "Maybe I set my goals too low",
    "publish": "2023-03-26T13:36:00-06:00",
    "status": "published",
    "type": "long",
    "rssExclusive": false
}---
<section>
  <h2>I resolved to...</h2>
  <p>
    Near the end of January (I did not resolve to  be more punctual), I posted <a href="https://log.rdl.ph/post/new-year-new-me-my-resolutions-for-2023.html">My Resolutions for 2023</a>. Since it's now near the end of March - quarter 1 - I thought it would be a good time to check in.
  </p>
</section>
<section>
  <h2>Read more books</h2>
  <p>
    This one has been pretty easy for a number of reasons:
  </p>
  <ul>
    <li>I just generally want to do fewer digital things and more real things.</li>
    <li>Travel is a bit more "on the table" this year, and I can usually finish a book on a plane ride or two (plus having fewer available forms of entertainment while traveling leads to more reading).</li>
    <li>I had already read one book by the time I wrote down my resolutions.</li>
  </ul>
  <p>
    As <a href="https://log.rdl.ph/bookshelf">you can see</a>, I've already completed this goal, which feels like maybe I didn't set the goal far enough outside my comfort level. Maybe I should update this goal to be "Read 12 books in 2023," which is an average of 1 per month, and I think that's totally reasonable.
  </p>
  <p>
    Anyway, here's a quick review of the books I've read so far:
  </p>
  <ul>
    <li>Jurassic Park: As noted, it's a banger. Dinosaurs go hard.</li>
    <li>The Road: I'll just copy a text I sent to a friend here - "Pulitzer prize winning drivel, boring, empty, devoid of purpose both theoretically (there is no story) and practically (you can't get anything out of reading it)."</li>
    <li>Hold Me Tight: It's more of the standard model of modern psychology which can be essentially boiled down to "adults are just larger versions of small children 3-14 years old and all of their emotions and feelings are essentially identical and fundamentally unchanged." This suggests some extremely uncomfortable obvious extrapolations that it seems this "current wave" of psychotherapy seems uninterested in exploring and I'm tired of it.</li>
  </ul>
</section>
<section>
  <h2>Finish more video games</h2>
  <p>
    This is a great goal, because while I <strong>like</strong> video games, I don't revel in every single second of their existence. My favorite part of this resolution is "Allow myself to not experience every possible piece of content in a game." I am an <strong>Unwilling Completionist</strong>: I feel the need to 100% a game, but I don't enjoy it along the way. There are certain games where it's natural and enjoyable to 100% the game, like <a href="https://www.backloggd.com/u/rockerest/review/417836/">Metroid Dread</a>. I will admit that when I wrote the review, it felt like a chore, but in retrospect the chore is almost entirely alleviated by <a href="https://twitter.rockerest.com/1483936292551663616/">just having learned the skill</a> which is the correct way to gate items / 100%.
  </p>
  <p>
    I've only started tracking <a href="https://www.backloggd.com/u/rockerest/lists/folder/completed/">"completed games" this year</a>, so it's hard to do a direct comparison. However, I think at <strong>best</strong> I probably only finished 1 or 2 games last year (it's possible it was zero).
    <br />
    The trick here is that the games I've finished this year (and games I expect to finish) were all played mostly last year. I got near the end, wasn't in a position to 100% them, and the fun was all sucked out because I "had" to go back and try to get some obtuse side missions or something. Relieving myself of that "requirement" immediately opening up multiple finishes because I was just hours (or sometimes minutes) away from finishing the game without 100% (or - in the case of Cyberpunk 2077 - a specific ending).
  <p>
  <p>
    If I want to be cheeky, I've <strong>also</strong> <a href="https://godot.rockerest.xyz/">completed 3 other games this year</a>. I've been <a href="https://social.rdl.ph/@rockerest/109950125901511543">dabbling with Godot</a> and have built some "finished" "games," which I think is a neat cheat for this 2023 goal.
  </p>
</section>
<section>
  <h2>Use my own game tracker exclusively</h2>
  <figure>
    <img src="https://res.cloudinary.com/rockerest/image/upload/v1679858447/gametracker-road-to-1.jpg" title="My task list for the game tracking website I'm building" alt="The screenshot shows a few columns under a page titled 'The road to 1.0: A game tracking web app that doesn't suck?' Of note under the In Progress column is a user's personal dashboard and game status changes on that dashboard. Of note under the Not Started column is Lists." />
    <figcaption>The current task tracker for the development of my own game tracker app.</figcaption>
  </figure>
  <p>
    Development here has stalled a bit since I've been mostly burned out on Web Development. Web development really sucks these days, and it's a pretty miserable field mostly dominated by finance bros and sleazy venture capitalists. I've been spending most of my free time doing <a href="https://log.rdl.ph/post/we-are-on-the-cusp-of-a-new-golden-age-of-indie-games.html">game development with Godot instead</a>, and I have to say that doing a type of development not personally linked to some piece of shit accomplishing their strategy for a market exit is nothing short of a life-giving breath of air.
  </p>
  <p>
    That said, I do still want to start using my own app exclusively this year, and there isn't <em>theoretically</em> much left to do, so I expect to be able to still accomplish this, even if it's later than it otherwise could have been.
  </p>
</section>
<section>
  <h2>Basically accomplished!</h2>
  <p>
    Other than my game tracking app, I've pretty much accomplished my defined goals, which is nice because I don't feel a burden of guilt, but also not the best because I don't have an extrinsic reason to keep going on reading more or finishing games. I think it's fine, though, because "read more..." and "finish more..." are open-ended enough that I can keep going.
  </p>
  <p>
    Here's to the rest of 2023!
  </p>
</section>
