---{
		"id": "9971d3c3-4d4f-450e-9b84-ea1d66919ff1",
    "authors": [
        "trandolph"
    ],
    "title": "New Year, New Me? My Resolutions for 2023",
    "publish": "2023-01-20T23:42:00-07:00",
    "status": "published",
    "type": "long",
    "rssExclusive": false
}---
<section>
  <h2>Better late than never</h2>
  <p>
    It's getting nearer to the end of January, so it seems like a good time to actually write down what I want to accomplish in 2023.
  </p>
  <p>
    One of the key things that I typically incorporate into my "resolutions" - if you can call them that - is a reaction to things I didn't like from last year. So here's what I want to change about my life in 2023.
  </p>
</section>
<section>
  <h2>I resolve to:</h2>
  <h3>Read more books</h3>
  <p>
    This one... uh... this one won't be that hard. Last year <a href="https://log.rdl.ph/bookshelf">I read two books</a> and I even <a href="https://social.rdl.ph/@rockerest/109615458820268934">had to cheat and say I finished the second one in 2022</a> (although let's be honest the rule <strong>is</strong> that the day isn't over until you go to sleep).
  </p>
  <p>
    I've found that I feel guilty if I don't finish a book. I'm not sure where it comes from, but take it from me (I'm mostly talking to myself here): There are so many books. So many. Way more than you could ever read. And some books are bad! Actually lots of books are bad! It's possible that the <strong>majority</strong> of books are bad, actually. It's okay to not like a book and just... quit it.
  </p>
  <p>
    I think it will also help if I give myself a license to read whatever I want. Last year, I told myself I would read one "fun" (maybe fiction) book and then a more academic book, and then back to fun, etc.
    <br />
    This sets me up to get stuck on a boring academic book, set it down, and <strong>never pick up another book for the rest of the year</strong>. After all, I didn't finish my veggies, so I can't have my dessert.
    <br />
    This is absolute bollocks and I'm giving myself - and you, reader! - permission to just read whatever. Read a good book, who gives a shit what it is as long as you like it?
    <br />
    Did you go to my bookshelf link up above? The first book I read this year was Jurassic Park. Banger book. Dinosaurs go hard. So many people got eaten. Read it in like two days. It was fun! It's okay to just have fun!
  </p>
  <h3>Finish more video games</h3>
  <p>
    Oh, I hear you: "but Thomas," you whinge, "playing more video games isn't a positive life change."
    <br />
    First of all, nobody said resolutions need to be positive changes.
    <br />
    More importantly, however, the evidence that playing video games has wide-reaching and substantial positive impact on logic, cognition, socialability, motor skills, academic performance, and on and on has been piling up for decades. It's actually a perfectly fine pastime.
    <br />
    Most importantly, my resolution is to <strong>finish</strong> more video games. Not play (necessarily), finish.
  </p>
  <p>
    I find that my general approach to video games is either casual ("I have a few minutes"), creative ("I want to build something"), or completionist ("all of the collectibles in this game seems achievable!").
    <br />
    None of these approaches lend themselves to finishing high-quality, narrative games. Not that this <em>necessarily</em> falls into the high-quality or narrative categories, but I've been stuck at something like 90% completed on Doom Eternal because I missed a single collectible on one of the last levels and the idea of going back and replaying the whole level <strong>just</strong> so that I can get that one item makes me never want to touch it again.
    <br />
    I know! I put myself into this position! I'm not happy about it!
    <br />
    So the goal is to finish more games, which will take some planning:
  </p>
  <ul>
    <li>
      Intentionally limit myself to shorter games.
      <p>
        I've found that huge, long games tend to get boring anyway. More is - quite often - not better. Tell me a story with a great set of mechanics and maybe a little innovation in 15-25 hours and I'll be perfectly happy.
      </p>
    </li>
    <li>
      Allow myself to not experience <strong>every possible piece of content</strong> in a game.
      <p>
        I suspect that my completionist streak comes from a very long time ago - a much more formative time - when I was a gamer, but also very broke. Buying a game was a much riskier venture, so I had to get everything possible out of it.
        <br />
        I don't have the time or energy for that level of neuroticism any more, and I have quite a lot more money, too.
        <br />
        Basically, <a href="https://www.youtube.com/watch?v=bpWtZKVahEE">take it down a notch</a>.
      </p>
    </li>
  </ul>
  <h3>Use my own game tracker exclusively</h3>
  <p>
    This is a bit of a sleeper resolution. See, I've been using <a href="https://www.backloggd.com/u/rockerest/">Backloggd</a> for a bit to track video games, but it's got some bits that are too complicated, and some odd parts, and some things that I think really could be a lot better.
    <br />
    So I started <a href="https://log.rdl.ph/post/game-tracker-devlog-1.html">building my own</a>.
    <br />
    It's actually going fine, thanks.
    <br />
    It's going fine, but slowly. So this resolution is to attempt to guilt myself into increasing the pace just ever so slightly. Can I get a version 1 in 2023? Sure, I can. Can I do it with time to spare? Well, yes, I could. I just have to get motivated.
    <br />
    It's hard to build complicated web apps when there's absolutely no promise of a pay-off (financial) or even niche popularity. In all likelihood, this app will be exclusively for me. All by myself.
    <br />
    <strong>But!</strong>
    <br />
    I resolve to use it exclusively by the end of this year, which means that it will be "v1 feature complete." And version 1 is a pretty good app, if I do say so myself. So ultimately, the resolution here is "get to v1 on the game tracking app." But that's a bit <em>clichéd</em>, if you ask me: "I'm going to work on my side project!"
    <br />
    Sure, pal.
    <br />
    Maybe this way I can feel like it's an accomplishment!
  </p>
  <hr />
  <p>
    So there we are. That's what I want to try to do better in 2023. If I don't do it, that's okay, too!
  </p>
</section>
