---{
	"id": "7d7e6aab-f5d5-4a2c-8945-fedeb02c7d57",
    "authors": [
        "trandolph"
    ],
    "title": "Remote Work Q&A | Jamstack Denver",
    "publish": "2020-05-02T14:09:00-06:00",
    "status": "published",
    "type": "long",
    "rssExclusive": false
}---
<section>
		<h2>Thanks!</h2>
		<p>
			Thank you to all the folks who showed up to talk about remote work and ask us questions on <strong><time datetime="2020-05-07T00:00:00.000Z">May 6th, 2020</time></strong>!
		</p>
	</section>
	<section>
		<h2>Wrap-Up</h2>
		<p>
      At <a href="https://log.rdl.ph/post/remote-work-ama-dvlp-dnvr.html">previous remote work events</a>, I didn't have a single place for after-the-fact answers, somewhere to collect all the resources I might have mentioned, and more.
			<br />
      I want to make sure there <strong>is</strong> a single place to collect everything, so I'm collecting everything here.
		</p>
	</section>
	<section>
		<h2>Video</h2>
		<p>
      Before the Q&amp;A session, Mike Duke gave a great talk about his experience shipping his first production site, so for more insight into being a dev, I highly recommend watching <a href="https://www.youtube.com/watch?v=vhKcbIQEY_8">his talk, too</a>.
      <br />
      The majority of the event was recorded, so you can find that video below.
    </p>
      <iframe class="youtube-embed" width="560" height="315" src="https://www.youtube-nocookie.com/embed/FZCgZNQKt0Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture">
    </iframe>
	</section>
	<section>
		<h2>Resources</h2>
		<p>
			I find the resources below helpful for folks interested in learning more about remote work.
		</p>
		<ul>
			<li>If you want to learn more about me (oh gosh 😊) or find my email, <a href="https://rdl.ph">rdl.ph</a> is a good place to start!</li>
			<li>I work for GitLab, and I really like the way we run our all-remote work. We've put out a small starter kit for remote work at <a href="https://allremote.info">allremote.info</a>.</li>
			<li>Likewise, if you're looking for all the information you could possibly ever want about how a remote company should be run, check out our <a href="https://about.gitlab.com/handbook/">handbook</a>!</li>
			<li>
				There are some sites that only aggregate remote jobs:
				<ul>
					<li><a href="https://newremotejob.com">https://newremotejob.com</a></li>
					<li><a href="https://weworkremotely.com">https://weworkremotely.com</a></li>
					<li><a href="https://letsworkremotely.com">https://letsworkremotely.com</a></li>
				</ul>
			</li>
		</ul>
	</section>
	<section>
		<h2>Other Questions</h2>
		<p>
      <em>Do you have questions for me?</em>
      <br />
      <a href="mailto:remoteworkqa@tomr.email">Send me an email!</a>
    </p>
	</section>
