---{
	"id": "a7d9f748-c005-47d5-88b1-ba093fc41fa2",
    "authors": [
        "trandolph"
    ],
    "title": "Remote Work AMA | DVLP DNVR",
    "publish": "2020-04-03T17:53:00-06:00",
    "status": "published",
    "type": "long",
    "rssExclusive": false
}---
<section>
		<h2>Thanks!</h2>
		<p>
			I'm putting the thanks section first, because without the great organizers and questions from the attendees, this AMA event could have been a real bust!
		</p>
		<p>
			So: thank you to the DVLP DNVR team and all the folks who showed up to talk about remote work and ask me questions on <strong><time datetime="2020-03-03T00:30:00.000Z">April 2nd, 2020</time></strong>!
		</p>
		<p>
			I think I had some pretty good answers to some of the questions, and some maybe okay(ish) answers to others!
		</p>
	</section>
	<section>
		<h2>Wrap-Up</h2>
		<p>
			During and after the event, I realized I had made a mistake by not having resources about remote work readily available somewhere for everyone to see!
		</p>
		<p>
			After the event, I got some more questions via Slack (<a href="https://denverdevs.org/">Denver Devs</a>) and my email (<a href="https://rdl.ph">rdl.ph</a>).
			<br />
			I want to make sure there's a single place to collect everything, so I'm collecting everything here.
		</p>
	</section>
	<section>
		<h2>Video</h2>
		<p>
			The majority of the event was recorded, so you can find that video below.
      <br />
      The recording begins in the middle of a question asking what Jamstack is and if it's just for sites without servers (it was a nuanced question, so that's not exactly a good paraphrase!).
		</p>
    <iframe
            class="youtube-embed"
            width="560"
            height="315"
            src="https://www.youtube-nocookie.com/embed/lbApeuBv3Z8"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
    >
    </iframe>
	</section>
	<section>
		<h2>Resources</h2>
		<p>
			I mentioned a few links and other resources, so I've collected those below.
		</p>
		<ul>
			<li>If you want to learn more about me (oh gosh 😊) or find my email, <a href="https://rdl.ph">rdl.ph</a> is a good place to start!</li>
			<li>I work for GitLab, and I really like the way we run our all-remote work. We've put out a small starter kit for remote work at <a href="https://allremote.info">allremote.info</a>.</li>
			<li>Likewise, if you're looking for all the information you could possibly ever want about how a remote company should be run, check out our <a href="https://about.gitlab.com/handbook/">handbook</a>!</li>
			<li>
				There are some sites that only aggregate remote jobs:
				<ul>
					<li><a href="https://newremotejob.com">https://newremotejob.com</a></li>
					<li><a href="https://weworkremotely.com">https://weworkremotely.com</a></li>
					<li><a href="https://letsworkremotely.com">https://letsworkremotely.com</a></li>
				</ul>
			</li>
		</ul>
	</section>
	<section>
		<h2>Other Questions</h2>
		<p>
			Some folks have asked me more questions after the fact, so I thought I'd collect those questions and my answers below.
		</p>
    <ol>
      <li><a href="#remote-first-job">Advice for someone looking for a remote position as their first job?</a></li>
      <li><a href="#looking-for-in-candidates">What are you looking for when you're evaluating remote candidates?</a></li>
      <li><a href="#grow-as-developer">How do I grow as a developer?</a></li>
      <li><a href="#what-about-svelte">What do you think about Svelte?</a></li>
    </ol>
		<hr />
		<p>
			From <em>Tobie Tsuzuki</em>:
		</p>
		<blockquote id="remote-first-job">
			What advice do you have looking for remote jobs as your first technical role?
		</blockquote>
		<p>
			That's a tough one!
			<br />
			To be clear, my first job wasn't remote, so I can't give you any insight from that side of the picture.
			<br />
			However, I've hired people (remote & otherwise) and I've gotten jobs remote after my first, so here's what I think:
		</p>
		<ol>
			<li>
				First of all, be excited about the company.
				<p>
					I admit that's something I can say from a place of privilege: if you don't have a job, anything is better than nothing - excitement aside!
				</p>
				<p>
					But it really helps you stand out when you have lots of experience with the company, like their product, use their product, have ideas of how to improve their product, etc.
					<br />
					"Passion" is an overused and under-defined search criteria, but if I were to use "passion" as a hiring criteria, this is what I want.
					<br />
					Do you want to work for this company on our product, or are you excited about something else?
					<br />
					Being excited about the company will make you more successful no matter what the tech is, whether or not it's remote, etc.
				</p>
			</li>
			<li>
				Practice/exercise and demonstrate the skills required for remote work.
				<p>
					The skills for remote aren't really all that different than the skills for non-remote work, but often during hiring the onus is on you - the candidate - to show that you can exercise those skills.
				</p>
				<p>
					Sadly this isn't as often the case when hiring for "local" employees, but it should be.
				</p>
				<p>
					Those skills are (not exclusively!):
				</p>
				<ul>
					<li>clear written communication,</li>
					<li>excellent time management,</li>
					<li>excellent self-motivation,</li>
					<li>low ceiling for getting stuck (e.g. if you get stuck you <strong>immediately</strong> seek help),</li>
					<li>the ability to self-direct (e.g. if you encounter a problem or lack of things to do you know how to find solutions or create your own work)</li>
				</ul>
				<p>
					Basically, if you can think of a skill you should have as a professional engineer, being able to demonstrate those skills (ideally with evidence!) is crucial to laying an initial foundation of trust for remote work.
				</p>
			</li>
			<li>
				If you can, frame as much as possible as how remote work benefits the company!
				<p>
					It's fine to say "remote work is better for me because my sleep schedule doesn't fit the average work time period."
				</p>
				<p>
					However, some companies might interpret that as: "I'm going to slack off all day and party all night."
				</p>
				<p>
					A better phrasing might be something like: "I think remote work is a great way to run a business because it means I can work in all the time I'm most productive throughout the day!"
					<br />
					Now it's phrased such that the business sees how they're benefitting from you working remote!
				</p>
			</li>
		</ol>
		<hr />
		<p>
			And a followup:
		</p>
		<blockquote id="looking-for-in-candidates">
			When you are looking for 'passion' do you expect the candidate to have made projects or can demonstrate a working understanding of the product, or is a well crafted cover letter enough to get your foot in the door.
		</blockquote>
		<p>
			Yes!
		</p>
		<p>
			A well-crafted cover letter is enough to get your foot in the door, but only that.
		</p>
		<p>
			I would say that for any job interview, remote or not, you should know as much as you possibly can about the product.
			<br />
			I've used GitLab for many years, but before I interviewed, I read all of their product marketing, dove into the handbook and read up on policies and engineering structure, read guidance docs for the way they run reviews and code styleguides, etc.
		</p>
		<p>
			I think if you want a job that necessarily means you should have at least a working understanding of their product, but probably more than that.
		</p>
		<p>
			As for projects, that's kind of a tough one.
		</p>
		<p>
			For someone coming to me for their first technical role, probably looking for a junior level position, I'd be less interested in their projects.
			<br />
			I know those projects probably wouldn't apply directly to my company in all but a small handful of cases, so I wouldn't be judging too harshly on those projects.
			<br />
			I would look for the following, however:
		</p>
		<ul>
			<li>
				Has the candidate created projects <strong>outside</strong> of their school/bootcamp/training course?
				<p>
					We all had to do schoolwork; did the candidate <strong>want</strong> to do more?
				</p>
			</li>
			<li>
				Has the candidate demonstrated proficiency in what they're applying for?
				<p>
					Let's say you're applying for a front end position.
					<br />
					If all of your projects are Python and Rails, I'm going to raise an eyebrow and wonder if you're going to succeed.
					<br />
					I'll still give you a shot!
					<br />
					But, if you can't show me in the interview that you know JavaScript pretty well, I'll probably take away two things:
				</p>
				<ol>
					<li>you're not a good fit and</li>
					<li>you don't know the difference between front end and back end!</li>
				</ol>
			</li>
			<li>
				Does the candidate have any specific things they especially like?
				<p>
					As a junior / first time tech role, it's totally fine to not know specifics about where you want your career to go.
					<br />
					But, if you can say: "I love the nuts and bolts of reactive data flow, and I've recently gotten really interested in Observable streams" that shows me that you've explored the depths of your field (front end in this case, it's just an example).
				</p>
				<p>
					Critical thought and "digging in" to tech is important to advancing, so showing those things early means I'm more likely to take a risk on you.
				</p>
			</li>
		</ul>
		<hr />
		<p>
			Following up again:
		</p>
		<blockquote id="grow-as-developer">
			I really like the idea of digging into tech. What's your approach for furthering your understanding of certain techs?
			<br />
			So far since I am more junior and I don't know where I am headed, I have just been trying to learn any new thing that seems interesting, but after trying to learn multiple frontend frameworks it seems I have no deep rooted knowledge of any of them.
		</blockquote>
		<aside>
			This was the <a href="/post/convention-syndrome-or-how-to-be-mediocre.html">very first thing I ever wrote about on this site!</a> This is entirely the fault of frameworks, and the problem hasn't improved! 😡
		</aside>
		<p>
			☝🏻 This is absolutely the Achille's Heel of front-end frameworks.
			<br />
			They abstract so much away and often invent their own syntax (thus requiring compilers and transpilers) that it often doesn't make sense for new learners to understand what's actually happening under the hood!
		</p>
		<p>
			I would say the best way to start digging in is identify something that you think is important or cool, and then start searching for ways to write your own of that!
		</p>
		<p>
			I know it sounds crazy, but it's the best way to really get into the fundamentals.
		</p>
		<p>
			So here's an example.
			<br />
			Let's say you use React all the time.
			<br />
			You have learned or self-identified that the way React renders new things to the screen is really cool.
			<br />
			It's just so convenient for you as a developer to spit out the same <code>HTML</code> from your <code>render</code> function and then React magically updates the DOM for you... so good!
		</p>
		<p>
			Okay! But how does it work!?
			<br />
			Build one yourself!
			<br />
			You don't need all of React, just build a static HTML page with some JavaScript included, and every time you call a function with a data object, the JavaScript should update the real page with the correct new HTML.
		</p>
		<p>
			Should be moderately simple, right?
			<br />
			So it sounds like you're going to need to learn what React is doing (Virtual DOM &lt;-&gt; Real DOM diffing), which means you'll need to learn about virtual DOMs, which means you'll need to learn about document fragments in memory.
			<br />
			Then you'll need to learn how React chooses what to update (what counts as having changed?), and in fact how it maintains hooks into the DOM so it can update appropriately.
		</p>
    <aside>
      Don't copy &amp; paste from an established library! Read it to understand what they're doing and then see if you can rebuild it yourself and maybe skip some of their more complicated bits!
    </aside>
		<p>
			Start piecing these things together.
			<br />
			Your first pass can just be the worst thing ever, it's fine.
			<br />
			As you learn more and more about this really specific topic, it'll improve.
		</p>
		<p>
			Most importantly, as you learn more, you'll identify either that this still intrigues you, or that it doesn't.
			<br />
			If it doesn't, you can start over, pick something new!
		</p>
		<p>
			Maybe.... How do CSS transitions and transforms work?
			<br />
			Is CSS an <strong>animation</strong> library? Surely not? ..... hmm something to research.
		</p>
		<p>
			Finally, I find the <a href="https://developer.mozilla.org/en-US/docs/Web/API">MDN Web API</a> page incredibly illuminating. It shows me all the things I <strong>don't know</strong>.
			<br />
			I would recommend you take a look at the <code>Interfaces</code> section and see if anything jumps out at you.
			<br />
			I think bare minimum learning would be to understand all of the things that start with <code>HTML</code> and <code>CSS</code>.
		</p>
		<p>
			I look at that list and I really want to dig into, for example, <code>Speech*</code> and <code>Sensor*</code> stuff.
			<br />
			Any of the <code>RTC*</code> (Real Time Communication) stuff also looks really cool.
		</p>
		<hr />
		<p>
			Then <em>Tobie</em> asked a question about another meetup I run - <a href="https://jamstackdenver.org/">Jamstack Denver</a>:
		</p>
		<blockquote id="what-about-svelte">
			I saw the <a href="https://jamstackdenver.org/">JAMStack meetup</a> and thought <a href="https://svelte.dev/">Svelte</a> looks pretty smooth but not sure if will gain any traction what were your impressions of it?
		</blockquote>
		<p>
			Well... HMM 😅
		</p>
		<p>
			I think it's a cool idea.
			<br />
			PROS:
		</p>
		<ul>
			<li>
				I really like that it outputs raw JS (and a small amount of it) that runs in the browser.
				<br />
				It doesn't ship <a href="https://svelte.dev/">Svelte</a> to the browser, it just builds bare little functions that do the right thing.
				<br />
				That's cool.
			</li>
			<li>
				I like that - for the most part - it's <strong>JUST</strong> JS, HTML, and CSS.
			</li>
		</ul>
		<p>
			CONS:
		</p>
		<ul>
			<li>
				I've really, really burned out after 7+ years of compilers and transpilers and package management and plugins and configs.
				<br />
				I don't like that <a href="https://svelte.dev/">Svelte</a> literally cannot run in a web browser unless you compile it (or JIT compile it, like all the other frameworks)
			</li>
			<li>
				Part of the reason for that is: I really dislike that <a href="https://svelte.dev/">Svelte</a> has hijacked a valid piece of JS (the <code>label</code>) to indicate data binding (e.g. <code>$: [some expression]</code>)
			</li>
		</ul>
		<p>
			Personal stuff:
		</p>
		<ul>
			<li>
        I used <a href="https://ractive.js.org/">Ractive.js</a> in the past and I loved it at the time!
				<p>
					The guy who made <a href="https://svelte.dev/">Svelte</a> (Rich Harris) also made <a href="https://ractive.js.org/">Ractive.js</a>, and <a href="https://svelte.dev/">Svelte</a> feels like an incremental step forward - he essentially moved <a href="https://ractive.js.org/">Ractive.js</a> into a JS compiler instead of a frontend framework.
				</p>
			</li>
			<li>
				I stopped using <a href="https://ractive.js.org/">Ractive.js</a> because every frontend framework has been made obsolete by <a href="https://viperhtml.js.org/hyper.html"><code>hyperHTML</code></a>-style DOM libraries (like <a href="https://lit-html.polymer-project.org/"><code>lit-html</code></a>) and the platform-native component model baked into web browsers.
			</li>
			<li>
				<code>REDACTED</code> 😅
				<br />
				<em>Tobie</em> asked me what I thought, so I gave them my personal opinions!
			</li>
		</ul>
		<p>
			I don't really think it's going to catch on.
			<br />
			Sadly, I think VDOM-based tools established themselves early, and it's hard to pry people away from that.
		</p>
		<p>
			That said, VDOM is embarrassingly inefficient, so I hope that tools like <a href="https://lit-html.polymer-project.org/"><code>lit-html</code></a> and <a href="https://svelte.dev/">Svelte</a> (not itself <a href="https://viperhtml.js.org/hyper.html"><code>hyperHTML</code></a>-like, but it's better than VDOM) eventually win out.
		</p>
	</section>
