---{
		"id": "51813032-3fed-4305-b78e-41c0628c9336",
    "authors": [
        "trandolph"
    ],
    "title": "Running Puppeteer on WSL2",
    "publish": "2022-05-31T20:15:00-06:00",
    "status": "published",
    "type": "long",
    "rssExclusive": false
}---
<p>I have recently <a href="https://twitter.com/rockerest/status/1530610313825030144">had reason to subset fonts manually</a> and I found a tool called <a href="https://www.npmjs.com/package/glyphhanger">glyphhanger</a> which subsets arbitrary fonts to arbitrary codepoints.</p>

<p>As with many of the cool, useful tools on the internet these days, it's something that <a href="https://www.zachleat.com/web/glyphhanger/">Zach Leatherman</a> built. Thanks Zach!</p>

<p>The thing - though - is that glyphhanger requires Puppeteer.</p>

<section>
<h2>Installing Puppeteer in a non-graphical environment</h2>

<p>I use Windows for all my day-to-day programming outside work, but I use Linux - via WSL2 - to actually make it a usable environment.</p>

  <p>Puppeteer doesn't work out of the box in a "headless" Linux environment.</p>

<p>Thankfully, I found <a href="https://chaosandpenguins.com/blog/2021/01/15/troubleshooting-puppeteer-in-wsl2/">someone who had the same problem</a>. They went through a lot more steps, so I thought I'd boil it down to just 2:</p>

<ol>
  <li>Install chromium with <code>sudo apt install -y chromium-browser</code></li>
  <li>Install one missing library dependency with <code>sudo apt install -y libatk-adaptor</code></li>
</ol>
</section>
<section>
<h3>Enjoy GUI-less Chrome(-ium)</h3>
</section>
