---{
		"id": "1a9cfa0e-900d-48ad-a35b-9b07b11f5771",
    "authors": [
        "trandolph"
    ],
    "title": "Stuff To Use",
    "publish": "2019-01-04T00:00:00-07:00",
    "status": "hidden",
    "type": "long",
    "rssExclusive": false
}---
<p>
  I often re-use the same small scripts throughout many projects.
  <br />
  A while back, I created a small repository to hold a universal boilerplate project with just a few scripts and config files. However, this tends to not be useful for every project, and it's not a great place to store arbitrary ECMAScript files, nodejs scripts, and more.
</p>
<p>
  So here's a big list of files I use on a regular basis, and a little bit of description of how and why.
</p>
<h2>Configuration Files</h2>
<h3 id="config-eslint">
  <a href="">.eslintrc</a>
</h3>
<p>
  This is my configuration file for ESLint. Every rule has a justification, and it keeps my code clean, readable, and maintainable. I would use this file in any project that uses ECMAScript.
</p>
<h3 id="config-editorconfig">
  <a href="">.editorconfig</a>
</h3>
<p>
  This is a complementary file to the <a href="#config-eslint">.eslint</a> file. It uses <a href="https://editorconfig.org/">EditorConfig</a> to set up the way an editor works - uniquely to a repo or filetype. I would use this file in any project.
</p>
<h3 id="config-stylelint">
  <a href="">.stylelintrc</a>
</h3>
<p>
  Like the <a href="#config-eslint">.eslint</a> file, this file configures a linter for any CSS file. I would use this in any project that uses CSS.
</p>

