---{
		"id": "ec9e9b1e-e831-436d-9fd2-923460de66a6",
    "authors": [
        "trandolph"
    ],
    "title": "The Secret Feed (Warning: Boring)",
    "publish": "2020-04-02T13:05:00-06:00",
    "status": "published",
    "type": "long",
    "rssExclusive": true
}---
<section>
  <h2>You've Been Inducted</h2>
  <p>
    Since I now have a secret feed just for RSS subscribers (welcome!), I figured I should put something in it.
    <br />
    If you're not sure what I'm talking about - well, first of all, how did you get here!? More importantly, check out <a href="/rss-club">RSS Club</a>.
  </p>
</section>
<section>
  <h2>RSS? 🤢🤮</h2>
  <p>
    To be clear, <strong>I</strong> don't feel that way about RSS, but I imagine some people do.
    <br />
    So why RSS?
  </p>
  <p>
    I think social media is an unmitigated negative drain on society. Yes, there are bright spots, and for certain underrepresented groups of people, it can be a positive. But, in terms of the larger societal impact that social media has had, the negatives are... well... unmitigated.
  </p>
  <p>
    That's not even to speak of the centralization and control that companies exert over content. Even ostensibly free content platforms like Medium began paywalling <strong>free content</strong> written on their platform <strong>for free</strong> by unpaid individuals who just wanted a place to share their thoughts and ideas.
  </p>
  <p>
    Ultimately my point is that the less control we have over our content, the more likely it is to be taken away from us.
  </p>
  <p>
    I know that running an RSS feed will not be for everyone. Maybe it's even too late to bring RSS back from the (almost) dead. My <a href="https://inoreader.com">Inoreader</a> subscriptions say otherwise, but perhaps it's a faux glut of content and it's going the way of the dodo. In any case, this web - one where the content is available on my terms, in a web browser for free, and in an RSS feed, delivered to readers for free, without restrictions - is <strong>the web I want to use</strong>.
  </p>
  <p>
    If you want to join those of us who want a freer, simpler web here's how to participate (although I should note that - because this web is freer and simpler - I literally cannot make you do anything you don't want to do):
  </p>
  <ol>
    <li>Don’t Talk About RSS Club</li>
    <li>Don’t Share on Social Media</li>
    <li>Provide Value</li>
  </ol>
  <p>
    Don’t talk about it. Let people find it. Make it worthwhile.
    <br />
    These rules are completely unenforceable, and that's the way I like it.
  </p>
</section>
<section>
  <h2>How's It Done!?</h2>
  <p>
    Like <a href="https://daverupert.com/2018/01/welcome-to-rss-club/">Dave</a>, I'll provide the few details I have about how I made this work.
  </p>
  <p>
    I use <a href="https://contentful.com">Contentful</a> to store my content and a custom front end to generate the posts, so it was initially as easy as adding a field to my post types.
  </p>
    <figure>
      <img src="https://res.cloudinary.com/rockerest/image/upload/v1585851990/long-post-rss-exclusive-field-20200402-1228.png" alt="The new RSS Exclusive field showing a Y/N indicator and 'boolean' type" />
      <figcaption>Pretty easy to set up. Only concern would be maxing out the number of fields for a content type, but the free account on contentful has fairly generous limits.</figcaption>
    </figure>
   <p>
    Once the field was set up, it's now just a matter of telling Contentful that this piece of content is RSS Exclusive.
  </p>
    <figure>
      <img src="https://res.cloudinary.com/rockerest/image/upload/v1585851990/long-post-rss-exclusive-content-20200402-1227.png" alt="The RSS Exclusive field in use on a piece of content, showing a set of radio buttons - 'yes' and 'no' and a 'clear' link. 'yes' is selected." />
      <figcaption>This post is marked as RSS Exclusive</figcaption>
    </figure>
  <p>
    At that point, the content is fetched from the Contentful API with the field included, so I just have to remove it from the main index.
  </p>
  <pre><code>import { sortReverseChronologically, isRssExclusive } from "../../common/Post.js";

function getPosts( promotion = "production" ){
	return sortReverseChronologically( [
		...getLongForPromotion( promotion ),
		...getShortForPromotion( promotion ),
		...getImageShortForPromotion( promotion )
	] ).filter( ( post ) => !isRssExclusive( post ) );
}

// common/Post.js
export function isRssExclusive( post ){
	return post.fields.rssExclusive || false;
}</code></pre>
  <p>
    Then, I just add a little header to the posts so the body itself has some descriptive content that I don't need to copy/paste to every post. I'll just show one here since all the post templates use the same code.
  </p>
  <pre><code>${post.fields.rssExclusive ? html`
		&lt;code>
			&lt;x-icon icon="rss">&lt;/x-icon> You're viewing a secret post! &lt;a href="/rss-club">Read more about RSS Club&lt;/a>.
		&lt;/code>
		&lt;br />
		` : ""}
	${unsafeHTML( post.fields.content )}</code></pre>
  <p>
    The same header is placed in front of the RSS item so it shows up right  at the beginning of the RSS content, too.
  </p>
  <p>
    Of course, I don't want to create another silo and break the web, so all of these posts just have regular URLs. Maybe that means this isn't really a truly secret RSS Club, but URLs are more important than our special club; that's sort of the whole point of this.
  </p>
</section>
<section>
  <h2>Welcome to RSS Club</h2>
  <p>
    So there it is: my first RSS Exclusive post.
  </p>
  <p>
    Welcome to a simpler, freer web!
  </p>
</section>
