---{
	"id": "45924382-e9d2-4adb-abee-ae6890a0350d",
    "authors": [
        "trandolph"
    ],
    "title": "The Database, and How It's the Most Important Part",
    "publish": "2019-12-07T23:50:00-07:00",
    "status": "hidden",
    "type": "long",
    "rssExclusive": false
}---
<section>
	<p>
		This is the second post in a series about Authentication on the JAMstack.
		Of them all, this might be the one you could most easily drop into without reading the prior posts, but I don't recommend it.
	</p>
	<h2>Series Table of Contents</h2>
	<ol>
		<li>
			<a href="/post/authentication-on-the-jamstack.html">Authentication on the JAMstack</a>
		</li>
		<li>
			<a href="/post/the-database-and-how-it-s-the-most-important-part.html">The Database, and How It's The Most Important Part</a> (you're here)
		</li>
		<li>
			<a href="">Behind Every Good Serverless API is a Server Running the Code</a>
		</li>
		<li>
			<a href="">GraphQL is Better</a>
		</li>
		<li>
			<a href="">Logging In is Dumb if There's Nothing to Log In To			</a>
		</li>
	</ol>
	<p>
		In this post, we're going to talk at length about how database architecture is critical, since the design of your data eventually influences every aspect of your application.
		Because of this, we'll focus a bit on normalization and getting the relational structure right off the bat.
		We'll architect a great database to store our authentication information, and we'll write the tooling to create the database for us.
		By the end, we'll have a working database that we can use.
	</p>
	<h2>Bad Database Design is Easy and Prevalent and Bad</h2>
	<p>
		Let's build a naive table of data for our authentication system.
		<br />
		The basics we'll need are: a username, a password, and a token.
		I hope that the former two are self-explanatory, but token may not be.
		Whenever we log a user in, we're going to want to generate a token for that session.
		That way, they can keep coming back with that same token and we can look it up in our database to identify who they are and confirm that they're actually logged in.
		If we didn't use a token, they'd have to keep sending their username and password with every request and not only is that annoying and inefficient, it's also very, very insecure, since it exposes their credentials with <strong>every</strong> request.
	</p>
	<p>
		So the table would look like this:
	</p>
	<table>
		<tr>
			<td><code>id</code></td>
			<td><code>integer</code></td>
			<td>primary key autoincrements from 1</td>
		</tr>
		<tr>
			<td><code>username</code></td>
			<td><code>string</code></td>
			<td>not nullable</td>
		</tr>
		<tr>
			<td><code>password</code></td>
			<td><code>string</code></td>
			<td>not nullable</td>
		</tr>
		<tr>
			<td><code>token</code></td>
			<td><code>string</code></td>
			<td>default <code>null</code></td>
		</tr>
	</table>
	<p>
		You'll notice I've added an ID column, which is basically just so we can identify this user within our application without using their username, which is something the user provides themselves.
		Also, your database table <a href="https://stackoverflow.com/a/5496048/597122">should almost certainly have a primary key, in all circumstances</a>.
		Anyone who has ever worked with a database will note that I'm fudging the structure of this a tiny bit.
		When we get to actually building the database in a little while, we'll &mdash; briefly &mdash; go over the exact technical pieces, but understanding SQL and databases is outside the scope of this series.
	</p>
	<p>
		Okay, so imagine we've built an entire application with this.
		Soon, our marketing team comes to us, and they ask for a first name field and an email address.
		They want to ask users to sign up for marketing emails, and they want to be able to fill the emails in with a name.
		This is fine with us, because &mdash; frankly &mdash; not being able to email our users with important account emails (like password recovery) has been a major customer complaint.
	</p>
	<p>
		So we add a few fields (and we go above and beyond because we are smart™ developers). Now the table looks like this:
	</p>
	<table>
		<tr>
			<td><code>id</code></td>
			<td><code>integer</code></td>
			<td>primary key autoincrements from 1</td>
		</tr>
		<tr>
			<td><code>username</code></td>
			<td><code>string</code></td>
			<td>not nullable</td>
		</tr>
		<tr>
			<td><code>password</code></td>
			<td><code>string</code></td>
			<td>not nullable</td>
		</tr>
		<tr>
			<td><code>token</code></td>
			<td><code>string</code></td>
			<td>default <code>null</code></td>
		</tr>
		<tr>
			<td><code>first_name</code></td>
			<td><code>string</code></td>
			<td>default <code>""</code></td>
		</tr>
		<tr>
			<td><code>last_name</code></td>
			<td><code>string</code></td>
			<td>default <code>""</code></td>
		</tr>
		<tr>
			<td><code>email_address</code></td>
			<td><code>string</code></td>
			<td>default <code>null</code></td>
		</tr>
	</table>
	<p>
		I'm going to skip story time and just present to you another table.
		This one is after a few months or years of this kind of reasonably small changes:
	</p>
	<table>
		<tr>
			<td><code>id</code></td>
			<td><code>integer</code></td>
			<td>primary key autoincrements from 1</td>
		</tr>
		<tr>
			<td><code>username</code></td>
			<td><code>string</code></td>
			<td>not nullable</td>
		</tr>
		<tr>
			<td><code>password</code></td>
			<td><code>string</code></td>
			<td>not nullable</td>
		</tr>
		<tr>
			<td><code>token</code></td>
			<td><code>string</code></td>
			<td>default <code>null</code></td>
		</tr>
		<tr>
			<td><code>first_name</code></td>
			<td><code>string</code></td>
			<td>default <code>""</code></td>
		</tr>
		<tr>
			<td><code>last_name</code></td>
			<td><code>string</code></td>
			<td>default <code>""</code></td>
		</tr>
		<tr>
			<td><code>email_address</code></td>
			<td><code>string</code></td>
			<td>default <code>null</code></td>
		</tr>
		<tr>
			<td><code>phone_number</code></td>
			<td><code>string</code></td>
			<td>default <code>null</code></td>
		</tr>
		<tr>
			<td><code>phone_number_secondary</code></td>
			<td><code>string</code></td>
			<td>default <code>null</code></td>
		</tr>
		<tr>
			<td><code>address_line_1</code></td>
			<td><code>string</code></td>
			<td>default <code>null</code></td>
		</tr>
		<tr>
			<td><code>address_line_2</code></td>
			<td><code>string</code></td>
			<td>default <code>null</code></td>
		</tr>
		<tr>
			<td><code>email_address_secondary</code></td>
			<td><code>string</code></td>
			<td>default <code>null</code></td>
		</tr>
		<tr>
			<td><code>middle_name</code></td>
			<td><code>string</code></td>
			<td>default <code>null</code></td>
		</tr>
		<tr>
			<td><code>preferred_name</code></td>
			<td><code>string</code></td>
			<td>default <code>null</code></td>
		</tr>
		<tr>
			<td><code>entire_name</code></td>
			<td><code>string</code></td>
			<td>default <code>null</code></td>
		</tr>
		<tr>
			<td><code>honorific</code></td>
			<td><code>string</code></td>
			<td>default <code>null</code></td>
		</tr>
		<tr>
			<td><code>gender</code></td>
			<td><code>string</code></td>
			<td>default <code>null</code></td>
		</tr>
		<tr>
			<td><code>last_login</code></td>
			<td><code>datetime</code></td>
			<td>default <code>null</code></td>
		</tr>
		<tr>
			<td><code>account_locked</code></td>
			<td><code>boolean</code></td>
			<td>default <code>false</code></td>
		</tr>
	</table>
	<p>
		Oof.
	</p>
	<p>
		Some international customers (rightly) complained one day that they don't really have the same concept of "first" and "last" name that Americans do, so the product manager put in <code>preferred_name</code> to be used everywhere the user sees.
		Because of that, we also needed to add <code>entire_name</code> because we didn't have the user's full name in a lot of cases, and we couldn't guarantee that <code>first_name + middle_name + last_name</code> was actually how those individuals represented their names.
	</p>
	<p>
		We also needed to add more email addresses for backup account recovery, and a couple phone numbers because some users wanted to register both their cell and work phones in our application.
	</p>
	<p>
		And on and on.
		<br />
		What a mess.
	</p>
	<p>
		There were two problems with the design of this database.
	</p>
	<h3>Problem 1: The Data is More Important Than The User</h3>
	<p>
		Every single part of application design &mdash; from the disk up &mdash; should start at the user.
		"The user" is a human being, so let's use that phrase from now on.
		The critical mistake made early was not asking the question "does every human being represent their name by dividing it into first and last parts?"
		It turns out the answer is &mdash; emphatically &mdash; <a href="https://www.kalzumeus.com/2010/06/17/falsehoods-programmers-believe-about-names/">absolutely not</a>.
		Failing to understand all the ways in which our own worldviews poison the way we design our applications is perhaps one of the biggest problems in the tech industry. Uber's self-driving cars murder people because the programmers just told the car to &mdash; like &mdash; not look for human beings if they weren't in a crosswalk.
		At some point, take a read through the <a href="https://github.com/kdeldycke/awesome-falsehood"><strong>enormous</strong> list of falsehoods programmers believe</a>.
	</p>
	<p>
		If the original ask had been more inclusive ("we need a way to ask people what they want to be called, and we need a way to contact users"), this whole thing might have been avoided, because just the <strong>phrasing</strong> of that question points us to the other problem...
	</p>
	<h3>Problem 2: Denormalization</h3>
	<p>
		Normalization is basically separating related but different information.
		There are <a href="https://en.wikipedia.org/wiki/Database_normalization">actual, real definitions</a> of normal forms, but we don't really need to get too far into that.
	</p>
	<p>
		The vast majority of this data has nothing to do with our user.
		Remember, we're dealing with a human being here!
		Human beings are not "<code>account_locked</code>" and a human being does not have an "<code>address_unit</code>".
		Human beings sometimes stay at places that have addresses and phone numbers, but sometimes not.
		Humans sometimes have names.
		Sometimes they have lots of names, and sometimes they have no names.
	</p>
	<p>
		Our database is a mess, and it's inefficient to use in an application (and may <code>${deity}</code> have mercy on your soul if you use a database with table locking instead of row locking and you're constantly reading and writing that <code>token</code> column).
		We can solve all of this for the vast, enormous majority of use cases by normalizing our database.
	</p>
	<p>
		Here's the same data represented with a more human-centric point of view and normalized:
	</p>
	<label class="table-label">users</label>
	<table>
		<tr>
			<td><code>id</code></td>
			<td><code>integer</code></td>
			<td>primary key autoincrements from 1</td>
		</tr>
	</table>
	<label class="table-label">authentications</label>
	<table>
		<tr>
			<td><code>id</code></td>
			<td><code>integer</code></td>
			<td>primary key autoincrements from 1</td>
		</tr>
		<tr>
			<td><code>identity</code></td>
			<td><code>string</code></td>
			<td>not nullable</td>
		</tr>
		<tr>
			<td><code>secret</code></td>
			<td><code>string</code></td>
			<td>not nullable</td>
		</tr>
		<tr>
			<td><code>last_login</code></td>
			<td><code>datetime</code></td>
			<td>default <code>null</code></td>
		</tr>
		<tr>
			<td><code>locked</code></td>
			<td><code>boolean</code></td>
			<td>default <code>false</code></td>
		</tr>
		<tr>
			<td><code>user</code></td>
			<td>foreign key to <strong>users</strong>.<strong>id</strong></td>
			<td>not nullable</td>
		</tr>
	</table>
	<label class="table-label">tokens</label>
	<table>
		<tr>
			<td><code>id</code></td>
			<td><code>integer</code></td>
			<td>primary key autoincrements from 1</td>
		</tr>
		<tr>
			<td><code>token</code></td>
			<td><code>string</code></td>
			<td>not nullable</td>
		</tr>
		<tr>
			<td><code>user</code></td>
			<td>foreign key to <strong>users</strong>.<strong>id</strong></td>
			<td>not nullable</td>
		</tr>
	</table>
	<label class="table-label">names</label>
	<table>
		<tr>
			<td><code>id</code></td>
			<td><code>integer</code></td>
			<td>primary key autoincrements from 1</td>
		</tr>
		<tr>
			<td><code>informal</code></td>
			<td><code>string</code></td>
			<td>default <code>null</code></td>
		</tr>
		<tr>
			<td><code>preferred</code></td>
			<td><code>string</code></td>
			<td>default <code>null</code></td>
		</tr>
		<tr>
			<td><code>formal</code></td>
			<td><code>string</code></td>
			<td>default <code>null</code></td>
		</tr>
		<tr>
			<td><code>user</code></td>
			<td>foreign key to <strong>users</strong>.<strong>id</strong></td>
			<td>not nullable</td>
		</tr>
	</table>
	<label class="table-label">contacts</label>
	<table>
		<tr>
			<td><code>id</code></td>
			<td><code>integer</code></td>
			<td>primary key autoincrements from 1</td>
		</tr>
		<tr>
			<td><code>contact</code></td>
			<td><code>string</code></td>
			<td>not nullable</td>
		</tr>
		<tr>
			<td><code>type</code></td>
			<td><code>string</code></td>
			<td>not nullable</td>
		</tr>
		<tr>
			<td><code>ordinal</code></td>
			<td><code>integer</code></td>
			<td>default <code>null</code></td>
		</tr>
		<tr>
			<td><code>user</code></td>
			<td>foreign key to <strong>users</strong>.<strong>id</strong></td>
			<td>not nullable</td>
		</tr>
	</table>
	<label class="table-label">addresses</label>
	<table>
		<tr>
			<td><code>id</code></td>
			<td><code>integer</code></td>
			<td>primary key autoincrements from 1</td>
		</tr>
		<tr>
			<td><code>nickname</code></td>
			<td><code>string</code></td>
			<td>default <code>""</code></td>
		</tr>
		<tr>
			<td><code>address</code></td>
			<td><code>string</code></td>
			<td>not nullable</td>
		</tr>
		<tr>
			<td><code>city</code></td>
			<td><code>string</code></td>
			<td>not nullable</td>
		</tr>
		<tr>
			<td><code>country</code></td>
			<td><code>string</code></td>
			<td>not nullable</td>
		</tr>
		<tr>
			<td><code>user</code></td>
			<td>foreign key to <strong>users</strong>.<strong>id</strong></td>
			<td>not nullable</td>
		</tr>
	</table>
	<p>
		Note that this isn't fully normalized: <code>last_login</code> and <code>locked</code> should probably be in a <code>user_metadata</code> table.
		<br />
		Addresses are a huge can of worms, but I could at least extract the possible countries to a table that <code>addresses</code> references by foreign key.
		<br />
		Also notice there's no <code>gender</code>.
		It's unlikely you need it in your application (unless you're building a dating app, maybe????).
		Don't implicitly label people by collecting information you don't need.
		<br />
		Also note that all of the contacts are normalized into a single table that holds values with types.
		Twitter handles, phone numbers, emails, or whatever can go in here.
		Let your users tell you what order they go in (<code>ordinal</code>) and then sort and filter as necessary.
		<br />
		Similarly, there are no restrictions on names.
		It's a separate table (so check for zero records for a human being with no names!), and that table is just a list of what the user wants you to call them.
		Our application should just ask for <code>preferred</code>.
		But in the off chance we need more (but why?), we can ask them to tell us what their formal name is.
		Their formal name would include any honorifics they want us to include, so we should be careful in the UI to not assume it's just a name.
		It might be <code>Hon. Dr. Alice Z. Smith, Esq.</code>, and our application should be fine with that.
	</p>
	<hr />
	<p>
		I hope by this point you can see how the design of the data influences entire applications.
		Choosing not to ask for gender doesn't just eliminate it from our database, it removes it from the data as it flows through an entire application and removes it as a consideration for any future design.
		I hope we can all agree that designing applications that work for anyone regardless of what their gender is is good.
	</p>
	<p>
		Splitting fields into normalized tables forces our application to cede control back to the human being using our software, and allows them to be in control of what information our application has.
		One function of this design and ceding control back to the human being is that our software has to treat the human beings using it better.
		We can't just robotically ask for <code>"first name last name email address please, fleshy data point."</code>
		We need to bake human centricity into our UX: "What would you like us to call you around the application and in any other contact we have with you?"
	</p>
	<p>
		Good data architecture begets good application design begets treating humans like the people they are.
		A more inclusive internet is a better one.
	</p>
	<h2>Why Were We Here?</h2>
	<p>
		Oh right, an authentication system.
		I blacked out for a second.
	</p>
	<p>
		I'm going to present to you the tables for our new system with very little explanation.
		My hope is that after 1600 words of exposition on database design, inclusive mindsets, and normalization, you'll be able to figure out what's going on here.
	</p>
	<label class="table-label">users</label>
	<table>
		<tr>
			<td><code>id</code></td>
			<td><code>integer</code></td>
			<td>primary key autoincrements from 1</td>
		</tr>
		<tr>
			<td><code>uuid</code></td>
			<td><code>string</code></td>
			<td>not nullable</td>
		</tr>
	</table>
	<label class="table-label">authentications</label>
	<table>
		<tr>
			<td><code>id</code></td>
			<td><code>integer</code></td>
			<td>primary key autoincrements from 1</td>
		</tr>
		<tr>
			<td><code>identity</code></td>
			<td><code>string</code></td>
			<td>not nullable</td>
		</tr>
		<tr>
			<td><code>secret</code></td>
			<td><code>string</code></td>
			<td>not nullable</td>
		</tr>
		<tr>
			<td><code>user</code></td>
			<td>foreign key to <strong><code>users</code></strong>.<strong><code>id</code></strong></td>
			<td>not nullable</td>
		</tr>
	</table>
	<label class="table-label">tokens</label>
	<table>
		<tr>
			<td><code>id</code></td>
			<td><code>integer</code></td>
			<td>primary key autoincrements from 1</td>
		</tr>
		<tr>
			<td><code>token</code></td>
			<td><code>string</code></td>
			<td>not nullable</td>
		</tr>
		<tr>
			<td><code>user</code></td>
			<td>foreign key to <strong><code>users</code></strong>.<strong><code>id</code></strong></td>
			<td>not nullable</td>
		</tr>
	</table>
	<p>
		Very little explanation time.
	</p>
	<p>
		I've added <strong><code>users</code></strong>.<strong><code>uuid</code></strong> because it's likely that in our application we want to be able to present urls that point to a given human being.
		We cannot use any information they give us, because they can change or remove that freely, and it may even be something they consider personal and don't want in URLs.
		We also should not use the primary key (<code>id</code>) from our database because exposing that value could lead to resource harvesting and other brute-force attacks on our application and our users.
		Presumably, every resource will check authorization before being exposed, but some information could still leak.
	</p>
	<p>
		Finally, <strong><code>authentications</code></strong>.<strong><code>identity</code></strong> is something we should mention quickly.
		Methods of contact (like email addresses) or what the human being wants to be called on your site (like a nickname) are not good forms of login identity.
		Just ask the human being how they want to log in. Take a string. Make sure it's unique. Done.
		If they want to use their email address, cool. Phone number, cool. Their nickname, cool.
		Their authentication identity is separate and unique from their other information.
	</p>
	<h2>Setting Up A Database</h2>
	<p>
		We need to create a PostgreSQL database called jamthentication (Get it? Because JAMstack plus Authentication.).
		This will vary by system and the way you installed PostgreSQL, but the following script is how I do it on a new Ubuntu server with the <code>postgres</code> user.
	</p>
	<pre><code>curl -sL https://deb.nodesource.com/setup_13.x | sudo -E bash -
sudo apt-get update
sudo apt-get install -y nodejs postgresql postgresql-contrib
sudo -u postgres createdb jamthentication</code></pre>
	<p>
		This just installs the latest <code>node</code> and <code>postgresql</code> on our computer, and then creates a database called <em><code>jamthentication</code></em>.
		It doesn't really matter how you do it, but we'll need that database before we continue.
	</p>
	<h2>Connecting to the Database</h2>
	<p>
		We're going to be using <code>Knex.js (0.20.4)</code> to connect to our database, abstract the pain of different database engines, and build queries for us.
	</p>
	<pre><code>npm init -y</code></pre>
	<p>
		...gets us a <code>package.json</code> and
	</p>
	<pre><code>npm install knex pg</code></pre>
	<p>
		...installs Knex and the PostgreSQL node package into our project.
	</p>
	<p>
		Create a directory called <code>logic</code>.
		We're going to need a way to connect to our database, so we'll put a module named <code>db.js</code> and another one named <code>knexfile.cjs</code> in the logic directory.
	</p>
	<figure><img src="assets/project-structure-db-1.jpg" /></figure>
	<p>
		In <code>knexfile.cjs</code>, we'll export a configuration object for our database:
	</p>
	<pre><code>module.exports = {
	"localhost": {
		"client": "postgresql",
		"connection": {
			"database": "jamthentication",
			"host": "localhost",
			"user": "postgres",
			"password": "password"
		}
	}
};</code></pre>
	<p>
		In <code>db.js</code>, we'll use that configuration to construct a database accessor:
	</p>
	<pre><code>import { createRequire } from "module";

var require = createRequire( import.meta.url );
var config = require( "./knexfile.cjs" );
var knex = require( "knex" );

var db = null;

export function getConnection( env  = "localhost" ){
	if( !db ){
		db = knex( config[ env ] );
	}

	return db;
}

export function schema( connection, name = "public" ){
	return connection.withSchema( getSchema( name ) );
}

export function getSchema( name = "public" ){
	return name;
}</code></pre>
	<p>
		A note here about Node and modules.
		Despite the standard form of modules being around in nascent form when Node was building their module system, they decided to go with another, separate, and incompatible module system.
		This has been an unqualified disaster for the web. Node 13.2.0 finally <a href="https://twitter.com/rockerest/status/1194435212899282944">unflagged standard ECMAScript modules</a> by default.
		Sadly, many packages on the npm registry still use CommonJS modules, so we have to sometimes use the <code>.cjs</code> extension and create a special loader for them.
		That's what these lines do:
	</p>
	<pre><code>import { createRequire } from "module";

// ...

var require = createRequire( import.meta.url );</code></pre>
	<p>
		Sadly, using import like this will always be an error, it's <strong>still</strong> not valid JavaScript.
		Oh well, it's better than using CommonJS everywhere!
	</p>
	<p>
		In addition, we have to tell Node to just use normal JavaScript (why is normal JavaScript not the default?!), so we'll need to make sure our <code>package.json</code> has this line:
	</p>
	<pre><code>// ...
"type": "module",
// ...</code></pre>
	<p>
		Since standard JavaScript is only available as of Node 13.2.0, I also recommend using these lines in your <code>package.json</code>:
	</p>
	<pre><code>"engines": {
	"node": ">=13.2.0"
}</code></pre>
	<p>
		Now we can head back to <code>db.js</code> to cover the rest of the code in there; we'll start from the bottom.
	</p>
	<p>
		To avoid scattering "public" throughout our codebase any time we need to reference the database schema (since "public" is the default, but we might create more!), we provide the exported function <code>getSchema</code>.
		Right now, it just returns the string you pass it or "public" by default.
	</p>
	<p>
		We need to tell PostgreSQL what schema we want to use any time we want to use the database, so we'll export a helper function &mdash; <code>schema</code> &mdash; that uses a Knex method to modify any connection we pass to it.
		By default again, this uses "public", but we could use this to access any of our schemas, if we make more later.
	</p>
	<p>
		At the top of the file, we export a function for creating a connection.
		This connection will be a singleton.
		Since we're storing the connection in a variable outside the function (<code>db</code>), once this module is resolved once, and <code>getConnection</code> is called once, every future request will resolve to the same database connection.
		We can use different environments, but for now, it just uses <code>localhost</code>, and grabs the <code>localhost</code> block of config from <code>knexfile.cjs</code>.
	</p>
	<h2>Building the Database From Code</h2>
	<p>
		Code used to create or teardown database tables (and do other work!) is usually called a "migration."
		We can migrate either up or down (e.g. from nothing to a working database, or from a working database to nothing, or any intermediate steps).
	</p>
	<p>
		Add a folder to the <code>logic</code> directory called <code>migrations</code>.
		Add a folder to the root called <code>scripts</code>.
		We'll be putting scripts we want Node to run in there.
		Add a script called <code>migrate.js</code> with this content:
	</p>
	<pre><code>import { getConnection } from "../logic/db.js";

var db = getConnection( "localhost" );

db.migrate
	.latest( {
		"directory": "./logic/migrations",
		"loadExtensions": [ ".cjs" ]
	} )
	.finally( () => {
		db.destroy();
	} );</code></pre>
	<p>
		This file tells Knex to iterate through any migration files in our migration directory and run them one by one.
		We should add a <code>run-script</code> to <code>package.json</code> so we can run this with <code>npm run migrate</code>, and another so that we can tell Knex to create a dummy migration for us.
	</p>
	<pre><code>"scripts": {
	"make-migration": "knex migrate:make jamthentication --knexfile ./logic/knexfile.cjs --env localhost",
	"migrate": "node ./scripts/migrate.js"
}</code></pre>
	<p>
		Now, run <code>npm run make-migration</code>.
		A new file should appear in your migrations directory.
		We're going to add some database code to it!
		Sadly, to make it work (because Knex expects CommonJS modules), we'll need to rename it with the <code>.cjs</code> extension.
	</p>
	<figure><img src="assets/project-structure-db-2.jpg" /></figure>
	<p>
		In your new migration file, you should see an <code>up</code> and a <code>down</code> function.
		<code>up</code> will be for creating our database, and <code>down</code> will be for if we need to roll it back.
		Both functions need to return a Promise.
		They won't be considered complete until the Promise resolves.
		Our <code>users</code> table is foundational to our database architecture, so we'll put it by itself in this particular migration.
	</p>
	<p>
		For <code>up</code>, we'll create the table, add the primary, incrementing key and add our UUID column. For <code>down</code>, we'll just drop the table.
	</p>
	<pre><code>exports.up = function up( knex ){
	return Promise.all( [
		knex.schema.createTable( "users", ( table ) => {
			table
				.increments( "id" )
				.notNullable()
				.primary();

			table
				.uuid( "uuid" )
				.notNullable();
		} )
	] );
};


exports.down = function down( knex ){
	return Promise.all( [
		knex.schema.dropTable( "users" )
	] );
};</code></pre>
	<p>
		The other two tables depend on users, so let's create a new migration (<code>npm run make-migration</code>) and put them in there (remember to change the extension to <code>.cjs</code>).
	</p>
	<figure><img src="assets/project-structure-second-migration.jpg" /></figure>
	<p>
		In our new migration's <code>up</code>, we're going to create our <code>authentications</code> and <code>tokens</code> tables.
		In the <code>down</code>, we'll just drop them again.
	</p>
	<pre><code>exports.up = function up( knex ){
	return Promise.all( [
		knex.schema.createTable( "authentications", ( table ) => {
			table
				.increments( "id" )
				.notNullable()
				.primary();
			table
				.string( "identity", 255 )
				.notNullable();
			table
				.string( "secret", 511 )
				.notNullable();
			table
				.integer( "user" )
				.notNullable();


			table.unique( "identity" );
			table
				.foreign( "user" )
				.references( "users.id" )
				.onDelete( "CASCADE" );
		} ),
		knex.schema.createTable( "tokens", ( table ) => {
			table
				.increments( "id" )
				.notNullable()
				.primary();
			table
				.string( "token", 255 )
				.notNullable();
			table
				.integer( "user" )
				.notNullable();


			table.unique( "token" );
			table
				.foreign( "user" )
				.references( "users.id" )
				.onDelete( "CASCADE" );
		} )
	] );
};

exports.down = function down( knex ){
	return Promise.all( [
		knex.schema.dropTable( "authentications" ),
		knex.schema.dropTable( "tokens" )
	] );
};</code></pre>
	<p>
		I said we would go over the technical bits of this SQL earlier, so &mdash; briefly:
	</p>
	<ol>
		<li>We first add the column for the foreign keys, then we tell the database engine that those columns (<code>user</code>) are a foreign key reference to a different table and ID.
			Inserts into this column must resolve to an ID in the <strong><code>users</code></strong> table or the insert will fail.</li>
		<li>We also tell the engine that any deletes in the <code>users</code> table should cascade and delete the entries in these new tables, too.
			If the user is gone, we don't want data hanging around referencing a missing user.</li>
		<li>Calls to things like <code>.string</code>, <code>.integer</code>, <code>.notNullable</code>, <code>.unique</code>, and more should be fairly self-explanatory: we're telling the engine what each field is, and in some cases what it's length is (like with <code>.string( "token", 255 )</code>).</li>
	</ol>
	<p>
		On your command line, run <code>npm run migrate</code>.
	</p>
	<p>
		Surprise! You have a database.
		<br />
		(I hope it wasn't a surprise by this point)
	</p>
	<p>
		It's a good database, too.
	</p>
	<p>
		If you'd like to explore the code for this post, it's available in <a href="https://gitlab.com/rockerest/jamthentication/tree/db">the repository for this series</a>.
		<br />
		In the next entry in this series, we'll take our good, new database and we'll write the code to create users, log them in, and log them out.
	</p>
	<p>
		<a href="">Next in the series: Behind Every Good Serverless API is a Server Running the Code</a>
	</p>
</section>
