---{
		"id": "abd6249d-b537-43e8-ad37-3af1724169e7",
    "authors": [
        "trandolph"
    ],
    "title": "URL Imports Are A Specified Native HTML Feature",
    "publish": "2024-02-19T14:41:00-07:00",
    "status": "published",
    "type": "long",
    "rssExclusive": false
}---
Over the last two weeks, four (4) - yes <strong>FOUR</strong> - front end engineers who I know to be intelligent people have adamantly stated that importing a module from a URL string is a feature exclusive to either TypeScript or Deno.

Given that Deno is - roughly - equivalent to "The JavaScript runtime for people who write TypeScript," I am led to believe that somewhere in the TypeScript ecosystem, someone is spreading misinformation about what the module specification allows.

<section>
  <h2>URL Imports Are A Specified Native HTML Feature</h2>
  <p>
      In <a href="https://html.spec.whatwg.org/multipage/webappapis.html#resolve-a-module-specifier">defining the algorithm to resolve a module specifier</a>, the HTML specification supports treating a specifier as <a href="https://html.spec.whatwg.org/multipage/webappapis.html#resolving-a-url-like-module-specifier">a URL-like module specifier</a>, which in turn will eventually parse the specifier as <a href="https://url.spec.whatwg.org/#concept-url-parser">a basic URL</a>.
  </p>
</section>
<section>
  <h2>
    It will work for you, too!
  </h2>
  <p>
    Go ahead, try it!
    <br />
    Open your developer console in this tab right now and paste in:
  </p>
  <pre><code>var { html, render } = await import( "https://esm.sh/lit-html" );
var c = document.querySelector( ".post.long" );
c.replaceChildren( "" );
render( html`&lt;div>This is my blog now lol&lt;/div>`, c );
</code></pre>
</section>
<section>
  <h2>A strawman in defense</h2>
  <p>
    For a moment, we could imagine that these individuals had each said something like:
  </p>
  <blockquote>
    Of the available server or local JavaScript interpreter runtimes, Deno is the only one that allows arbitrary code execution based on a URL.
  </blockquote>
  <p>
    <strong>THAT</strong> is a true statement! Of the JavaScript runtimes available to run on your computer or your server, the only one (that I know of) that allows you to paste a URL in and immediately executes that code in the context of your machine is Deno.
  </p>
  <p>
    It is not true that this is a feature exclusive to either Typescript or Deno, since the HTML specification has also enabled module loading using URLs. HTML has enabled it because <em>the browser security sandbox is one of the most well fortified security firewalls ever created.</em>
  </p>
  <p>
    If - in the course of writing something that runs on your computer - you find that you have the need to download and execute arbitrary remote code at runtime, I would strongly suggest you re-think all of the decisions that led you to this point. Hopefully it was just one or two, and you can backtrack quickly.
  </p>
</section>
