---{
		"id": "1c57e63e-50f6-4e55-a0cc-ce4eb3a538a4",
    "authors": [
        "trandolph"
    ],
    "title": "We are on the Cusp of a New Golden Age of Indie Games",
    "publish": "2023-03-06T14:31:00-07:00",
    "status": "published",
    "type": "long",
    "rssExclusive": false
}---
<p>
  I've "tried" to learn game development at various points in the past, between the bones of a tower defense game in pure C in college (you know what, it was actually not awful, in my recollection) to some little <a href="https://naughty-swirles-8199ef.netlify.app/">exercises in PhaserJS</a>.
</p>
<p>
  The consistent feeling I had, though, was that the entire process was geared toward <em>some end result</em>(&#8482;). The process itself was cumbersome and frustrating, only buoyed by some future reward: "Eventually there will be a game here. One day."
  <br />
  There is undoubtedly value in practicing delayed gratification; not everything good happens immediately. But the differential between starting a game development project in the past and getting something "fun" (or at least impressive) was very large, and that amount of gap is where burnout happens.
</p>
<section>
  <h2>The Indie Game Resurgence</h2>
  <p>
    It probably seems like indie games had their heyday in the early to mid 2010s. 2011 was a banner year, bringing us Minecraft, The Binding of Isaac, and Terraria. Fez was released in 2012. Shovel Knight came out in 2014, then Undertale and Ori and the Blind Forest the next year. 2016, while light on acclaimed indie releases did bring us the heavy-hitter Stardew Valley. 2017 closed out the "golden age of indie games" with two wildly popular crowd-pleasers with Hollow Knight and Cuphead.
    <br />
    What have we gotten since?
    <br />
    Among Us? Hades?
    <br />
    Great games, but a trickle of good indie games is not indicative of a healthy ecosystem where smaller, more experimental (or innovative) games can thrive.
  </p>
  <p>
    But, maybe it's not about survival. Maybe it's about how much effort it takes to build a game. In those days, developing a game could actually make sense: the appetite for new indies was ravenous, so the financial upside was huge. The success (and eventual purchase) of a game like Minecraft showed that a single dev with enough development chops could actually make a fortune selling a game they built in their free time. But the effort it took was also astronomical. Minecraft was Java; I'll leave that there. Game engines at the time were obtuse (as far as I can tell) and inflexible. Even a game as massive as Stardew Valley ported their game to a new engine - in 2021 - because the old one was holding them back. An engine port is not something to be taken lightly, so we can assume that the older engines were cumbersome.
    <br />
    So, while the development was more difficult, the upside was worth it. In the late 2010s, though, the appetite was sated. Much has been written about the river of flaming garbage being pumped out by the likes of Steam Greenlight, but I think it's fair to say that consumers are more cautious than before, which means games need to deliver on promises, have some hook that makes them truly fun, and they need to be affordable (a definition of affordable is essentially impossible to summarize, but everyone has some definition given a set of circumstances).
  </p>
  <p>
    I think that we are on the cusp of a new golden age of indie games.
    <br />
    Unity is <em>just</em> friendly enough that new developers can pick it up with a little bit of initial struggle. Even Unreal is getting more and more friendly to new-comers.
    <br />
    But the real thrust of new game development is relatively new engines like MonoGame, Construct, and Godot. Construct is a notable exception here, in that is has a subscription and a proprietary license. MonoGame and Godot, however, are open source and have extremely friendly licenses. Perhaps even more importantly, an engine like Godot is democratizing game development in an easy, consumable way.
    <br />
    Working your way through the Godot tutorial is just a matter of a few hours, zero dollars, and - maybe most importantly - it leaves you with foundational knowledge you can build on for your next step. You're not just copying and pasting code, you're understanding what it is that you're doing.
  </p>
  <p>
    And this is why in the next 3-5 years, we're going to see a new glut of high-quality indie games. Not because of a massive shift in end-user appetite (although there is an argument to be made that nostalgia for days gone by is whetting a new appetite), but because modern tooling has brought the effort and investment in building a game back in line with what you can expect to get out of it.
  </p>
</section>
<p>
  I <a href="https://social.rdl.ph/@rockerest/109950125901511543">posted on Mastodon</a> about my own experience with starting to learn Godot, and the basic takeaway is this: I have never felt like the <em>learning process</em> was the intrinsically fun part of game development. That the actual development part could be the fun part - thanks in large part to Godot - is a monumental shift.
  <br />
  I don't expect indie games to take over from the Calls of Duties and Defensive Structures in the Evening, but I <strong>do</strong> expect to see a steady stream of high-quality indie games over the next few years, and I - for one - am here for it.
</p>
