---{
		"id": "f90a1f31-294d-410f-beee-3cb2e280bded",
    "authors": [
        "trandolph"
    ],
    "title": "What are your web development first principles?",
    "publish": "2023-10-18T11:50:00-06:00",
    "status": "published",
    "type": "long",
    "rssExclusive": false
}---
<p>
  What is the unshakeable foundation on which you build software for the world (wide web)?
</p>
<section>
  <h2>Recap</h2>
  <p>
    We should use a very loose definition of first principle, because in theory a first principle cannot be deduced from any other assumption in a given system. As I mentioned in <a href="/post/it-seems-pretty-clear-that-there-are-fundamentals-of-web-development.html">... There Are Fundamentals of Web Development</a>, you could - in theory - look all the way back to physics (electrons) as your first principles. Sure, electrons exist. Let's move up our stack a bit.
  </p>
</section>
<section>
  <h2>These Truths Are Self-Evident</h2>
  <p>
    Here are some unshakeable, foundational, first principles of Web Development:
  </p>
  <ul>
    <li>Modern web browsers are some of the most complicated, robust pieces of software on the planet.</li>
    <li>The vast, vast majority of users are using slower, older devices on unreliable - and often very slow - networks. See <a href="https://infrequently.org/2022/12/performance-baseline-2023/">The Performance Inequality Gap, 2023</a></li>
    <li>Professionalism is a combination of competence, respect, and ethics.</li>
  </ul>
</section>
<section>
  <h2>Web Development as a Career</h2>
  <p>
    If software engineering for the internet is a career, then we must assume you can be a professional in it. As noted, there's a basis of professionalism, so it behooves us to define professional web development:
  </p>
  <ul>
    <li>Understand the inescapable tools of our trade (web browsers, the languages that run therein, security, how the internet works, etc.).</li>
    <li>Work as agents on behalf of users who do not understand our field or the complexities of it.</li>
    <li>Practice ethics and respect toward our product and the users who use it, and demonstrate competency in the platform we depend on.</li>
  </ul>
</section>
<section>
  <h2>The modern web is a scathing indictment</h2>
  <p>
    The utter <a href="https://infrequently.org/2023/02/the-market-for-lemons/">disaster</a> that is <a href="https://www.zachleat.com/web/react-criticism/">modern web development</a> is <a href="https://emmas.site/blog/2020/09/12/react-is-a-subsidy">an embarrassment of historical proportions</a>. Lest you think I believe this is exclusively that one framework's fault, allow me to be clear: Web Developers are obsessed with their own experience at the expense of everyone else. This is true regardless of the framework they use. It's true that React is by far the worst and the most popular, but that does not excuse the rest of the bunch.
  </p>
  <p>
    Professional software engineers should be able to discuss the features of their platform without having to explain first principles ("Yes: the web browser does that by default."). They should be able to assume a baseline for users ("No: most people are not using an iPhone 15 Pro Max, most users are on an old Android phone in South Asia."). They should understand the societal and political implications of the results of both their conscious actions and their many other decisions, whether by inaction or by implicitly choosing the default ("Yes: those people <strong>do</strong> matter, and shipping software that can't be used by them for any reason under your influence is an outcome caused by racism - or ableism, or ageism.).
  </p>
  <p>
    Professional web developers shouldn't <strong>have to</strong> - but often must - push back on vanity metrics masquerading as equitable access. A fast application up front that continues to load 100% - 200% - more later is not a fast, equitable, accessible application. It is built for the top earners in primarily Euro-centric countries. This is what subtle racism looks like in the real world. It can't just work for you and people like you.
  </p>
  <blockquote>The P75 latency for interaction (in an evenly distributed population) isn't the continuous experience of a single user; it's every fourth tap!
  </blockquote>
  <blockquote>
    small, individually innocuous changes add up to a slow bleed that can degrade the experience over time
  </blockquote>
  <sub><a href="https://infrequently.org/2022/05/performance-management-maturity/">A Management Maturity Model for Performance - Alex Russell</a></sub>
</section>
<section>
  <h2>Doomerism</h2>
  <p>
    I'm hardly the first - or the most eloquent - person to write on the topic of "This all sucks." I also don't have a magic solution to it all. Of course I'd say be relentless in adhering to <a href="post/the-web-application-architecture.html">the foundations of web application architecture</a>.
  </p>
  <p>
    Maybe I'd also say: Really, really pay attention to who benefits from decisions, in-decisions, and defaults. Are you willing to sacrifice - in your professional capacity - your own comfort to <a href="https://lukeplant.me.uk/blog/posts/no-one-actually-wants-simplicity/">better serve the human beings</a> you are acting as an agent for? To be clear, you are not an agent for <a href="https://bengrosser.com/files/Techno-Optimist-Manifesto-Andreessen-redacted-by-Grosser.pdf">shareholders</a>. Ethics, responsibility, and competence demand we work on behalf of the underserved.
  </p>
  <p>
    Are you making the difficult decisions every day to show that you're a professional web developer?
  </p>
</section>
