*{
    color: inherit;
    font-family: "Open Sans", HelveticaNeue, Helvetica, Arial;
}

@font-face {
     font-family: 'StateFaceRegular';
     src: url('/build/vendor/stateface/stateface-regular-webfont.eot');
     src: url('/build/vendor/stateface/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('/build/vendor/stateface/stateface-regular-webfont.woff') format('woff'),
          url('/build/vendor/stateface/stateface-regular-webfont.ttf') format('truetype'),
          url('/build/vendor/stateface/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
     font-weight: normal;
     font-style: normal;
 }

h1{
    font-size: 3em;
}

h2{
    font-size: 2em;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
    line-height: 1em;
}
