@font-face {
	font-family:'IBM Plex Mono';
	font-style:normal;
	font-weight:400;
	font-display:swap;
	src:url(https://fonts.gstatic.com/s/ibmplexmono/v19/-F63fjptAgt5VM-kVkqdyU8n1i8q0g.ttf) format('truetype')
  }
  @font-face {
	font-family:'PT Sans';
	font-style:normal;
	font-weight:400;
	font-display:swap;
	src:url(https://fonts.gstatic.com/s/ptsans/v17/jizaRExUiTo99u79D0KEwA.ttf) format('truetype')
  }
  @font-face {
	font-family:Solway;
	font-style:normal;
	font-weight:400;
	font-display:swap;
	src:url(https://fonts.gstatic.com/s/solway/v18/AMOQz46Cs2uTAOCmhXo5.ttf) format('truetype')
  }
  /*! normalize.css v3.0.0 | MIT License | git.io/normalize */html {
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
  }
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  nav,
  section,
  summary {
	display:block
  }
  audio,
  canvas,
  progress,
  video {
	display:inline-block;
	vertical-align:baseline
  }
  audio:not([controls]) {
	display:none;
	height:0
  }
  [hidden],
  template {
	display:none
  }
  a {
	background:0 0
  }
  a:active,
  a:hover {
	outline:0
  }
  abbr[title] {
	border-bottom:1px dotted
  }
  b,
  optgroup,
  strong {
	font-weight:700
  }
  dfn {
	font-style:italic
  }
  mark {
	background:#ff0;
	color:#000
  }
  small {
	font-size:80%
  }
  sub,
  sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
  }
  sup {
	top:-.5em
  }
  sub {
	bottom:-.25em
  }
  img {
	border:0
  }
  svg:not(:root) {
	overflow:hidden
  }
  figure {
	margin:1em 40px
  }
  hr {
	box-sizing:content-box;
	height:0
  }
  code,
  kbd,
  pre,
  samp {
	font-family:monospace,monospace;
	font-size:1em
  }
  button,
  input,
  optgroup,
  select,
  textarea {
	color:inherit;
	font:inherit;
	margin:0
  }
  button {
	overflow:visible
  }
  button,
  select {
	text-transform:none
  }
  button,
  html input[type=button],
  input[type=reset],
  input[type=submit] {
	-webkit-appearance:button;
	cursor:pointer
  }
  button[disabled],
  html input[disabled] {
	cursor:default
  }
  button::-moz-focus-inner,
  input::-moz-focus-inner {
	border:0;
	padding:0
  }
  input {
	line-height:normal
  }
  input[type=checkbox],
  input[type=radio] {
	box-sizing:border-box;
	padding:0
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
	height:auto
  }
  input[type=search] {
	-webkit-appearance:textfield;
	box-sizing:content-box
  }
  input[type=search]::-webkit-search-cancel-button,
  input[type=search]::-webkit-search-decoration {
	-webkit-appearance:none
  }
  fieldset {
	border:1px solid silver;
	margin:0 2px;
	padding:.35em .625em .75em
  }
  legend {
	border:0;
	padding:0
  }
  textarea {
	overflow:auto
  }
  td,
  th {
	padding:0
  }
  :host,
  :root {
	--fa-font-solid:normal 900 1em/1 'Font Awesome 6 Solid';
	--fa-font-regular:normal 400 1em/1 'Font Awesome 6 Regular';
	--fa-font-light:normal 300 1em/1 'Font Awesome 6 Light';
	--fa-font-thin:normal 100 1em/1 'Font Awesome 6 Thin';
	--fa-font-duotone:normal 900 1em/1 'Font Awesome 6 Duotone';
	--fa-font-sharp-solid:normal 900 1em/1 'Font Awesome 6 Sharp';
	--fa-font-sharp-regular:normal 400 1em/1 'Font Awesome 6 Sharp';
	--fa-font-sharp-light:normal 300 1em/1 'Font Awesome 6 Sharp';
	--fa-font-brands:normal 400 1em/1 'Font Awesome 6 Brands'
  }
  svg:not(:host).svg-inline--fa,
  svg:not(:root).svg-inline--fa {
	overflow:visible;
	box-sizing:content-box
  }
  .svg-inline--fa {
	display:var(--fa-display,inline-block);
	height:1em;
	overflow:visible;
	vertical-align:-.125em
  }
  .svg-inline--fa.fa-2xs {
	vertical-align:.1em
  }
  .svg-inline--fa.fa-xs {
	vertical-align:0
  }
  .svg-inline--fa.fa-sm {
	vertical-align:-.07143em
  }
  .svg-inline--fa.fa-lg {
	vertical-align:-.2em
  }
  .svg-inline--fa.fa-xl {
	vertical-align:-.25em
  }
  .svg-inline--fa.fa-2xl {
	vertical-align:-.3125em
  }
  .svg-inline--fa.fa-pull-left {
	margin-right:var(--fa-pull-margin,.3em);
	width:auto
  }
  .svg-inline--fa.fa-pull-right {
	margin-left:var(--fa-pull-margin,.3em);
	width:auto
  }
  .svg-inline--fa.fa-li {
	width:var(--fa-li-width,2em);
	top:.25em
  }
  .svg-inline--fa.fa-fw {
	width:var(--fa-fw-width,1.25em)
  }
  .fa-layers svg.svg-inline--fa {
	bottom:0;
	left:0;
	margin:auto;
	position:absolute;
	right:0;
	top:0;
	transform-origin:center center
  }
  .fa-layers-counter,
  .fa-layers-text {
	display:inline-block;
	position:absolute;
	text-align:center
  }
  .fa-layers {
	display:inline-block;
	height:1em;
	position:relative;
	text-align:center;
	vertical-align:-.125em;
	width:1em
  }
  .fa-layers-text {
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	transform-origin:center center
  }
  .fa-layers-counter {
	background-color:var(--fa-counter-background-color,#ff253a);
	border-radius:var(--fa-counter-border-radius,1em);
	box-sizing:border-box;
	color:var(--fa-inverse,#fff);
	line-height:var(--fa-counter-line-height,1);
	max-width:var(--fa-counter-max-width,5em);
	min-width:var(--fa-counter-min-width,1.5em);
	overflow:hidden;
	padding:var(--fa-counter-padding,.25em .5em);
	right:var(--fa-right,0);
	text-overflow:ellipsis;
	top:var(--fa-top,0);
	transform:scale(var(--fa-counter-scale,.25));
	transform-origin:top right
  }
  .fa-layers-bottom-right {
	bottom:var(--fa-bottom,0);
	right:var(--fa-right,0);
	top:auto;
	transform:scale(var(--fa-layers-scale,.25));
	transform-origin:bottom right
  }
  .fa-layers-bottom-left {
	bottom:var(--fa-bottom,0);
	left:var(--fa-left,0);
	right:auto;
	top:auto;
	transform:scale(var(--fa-layers-scale,.25));
	transform-origin:bottom left
  }
  .fa-layers-top-right {
	top:var(--fa-top,0);
	right:var(--fa-right,0);
	transform:scale(var(--fa-layers-scale,.25));
	transform-origin:top right
  }
  .fa-layers-top-left {
	left:var(--fa-left,0);
	right:auto;
	top:var(--fa-top,0);
	transform:scale(var(--fa-layers-scale,.25));
	transform-origin:top left
  }
  .fa-1x {
	font-size:1em
  }
  .fa-2x {
	font-size:2em
  }
  .fa-3x {
	font-size:3em
  }
  .fa-4x {
	font-size:4em
  }
  .fa-5x {
	font-size:5em
  }
  .fa-6x {
	font-size:6em
  }
  .fa-7x {
	font-size:7em
  }
  .fa-8x {
	font-size:8em
  }
  .fa-9x {
	font-size:9em
  }
  .fa-10x {
	font-size:10em
  }
  .fa-2xs {
	font-size:.625em;
	line-height:.1em;
	vertical-align:.225em
  }
  .fa-xs {
	font-size:.75em;
	line-height:.08333em;
	vertical-align:.125em
  }
  .fa-sm {
	font-size:.875em;
	line-height:.07143em;
	vertical-align:.05357em
  }
  .fa-lg {
	font-size:1.25em;
	line-height:.05em;
	vertical-align:-.075em
  }
  .fa-xl {
	font-size:1.5em;
	line-height:.04167em;
	vertical-align:-.125em
  }
  .fa-2xl {
	font-size:2em;
	line-height:.03125em;
	vertical-align:-.1875em
  }
  .fa-fw {
	text-align:center;
	width:1.25em
  }
  .fa-ul {
	list-style-type:none;
	margin-left:var(--fa-li-margin,2.5em);
	padding-left:0
  }
  .fa-ul>li {
	position:relative
  }
  .fa-li {
	left:calc(var(--fa-li-width,2em) * -1);
	position:absolute;
	text-align:center;
	width:var(--fa-li-width,2em);
	line-height:inherit
  }
  .fa-border {
	border-color:var(--fa-border-color,#eee);
	border-radius:var(--fa-border-radius,.1em);
	border-style:var(--fa-border-style,solid);
	border-width:var(--fa-border-width,.08em);
	padding:var(--fa-border-padding,.2em .25em .15em)
  }
  .fa-pull-left {
	float:left;
	margin-right:var(--fa-pull-margin,.3em)
  }
  .fa-pull-right {
	float:right;
	margin-left:var(--fa-pull-margin,.3em)
  }
  .fa-beat {
	animation-name:fa-beat;
	animation-delay:var(--fa-animation-delay,0s);
	animation-direction:var(--fa-animation-direction,normal);
	animation-duration:var(--fa-animation-duration,1s);
	animation-iteration-count:var(--fa-animation-iteration-count,infinite);
	animation-timing-function:var(--fa-animation-timing,ease-in-out)
  }
  .fa-bounce {
	animation-name:fa-bounce;
	animation-delay:var(--fa-animation-delay,0s);
	animation-direction:var(--fa-animation-direction,normal);
	animation-duration:var(--fa-animation-duration,1s);
	animation-iteration-count:var(--fa-animation-iteration-count,infinite);
	animation-timing-function:var(--fa-animation-timing,cubic-bezier(.28,.84,.42,1))
  }
  .fa-fade {
	animation-name:fa-fade;
	animation-delay:var(--fa-animation-delay,0s);
	animation-direction:var(--fa-animation-direction,normal);
	animation-duration:var(--fa-animation-duration,1s);
	animation-iteration-count:var(--fa-animation-iteration-count,infinite);
	animation-timing-function:var(--fa-animation-timing,cubic-bezier(.4,0,.6,1))
  }
  .fa-beat-fade {
	animation-name:fa-beat-fade;
	animation-delay:var(--fa-animation-delay,0s);
	animation-direction:var(--fa-animation-direction,normal);
	animation-duration:var(--fa-animation-duration,1s);
	animation-iteration-count:var(--fa-animation-iteration-count,infinite);
	animation-timing-function:var(--fa-animation-timing,cubic-bezier(.4,0,.6,1))
  }
  .fa-flip {
	animation-name:fa-flip;
	animation-delay:var(--fa-animation-delay,0s);
	animation-direction:var(--fa-animation-direction,normal);
	animation-duration:var(--fa-animation-duration,1s);
	animation-iteration-count:var(--fa-animation-iteration-count,infinite);
	animation-timing-function:var(--fa-animation-timing,ease-in-out)
  }
  .fa-shake {
	animation-name:fa-shake;
	animation-delay:var(--fa-animation-delay,0s);
	animation-direction:var(--fa-animation-direction,normal);
	animation-duration:var(--fa-animation-duration,1s);
	animation-iteration-count:var(--fa-animation-iteration-count,infinite);
	animation-timing-function:var(--fa-animation-timing,linear)
  }
  .fa-spin {
	animation-name:fa-spin;
	animation-delay:var(--fa-animation-delay,0s);
	animation-direction:var(--fa-animation-direction,normal);
	animation-duration:var(--fa-animation-duration,2s);
	animation-iteration-count:var(--fa-animation-iteration-count,infinite);
	animation-timing-function:var(--fa-animation-timing,linear)
  }
  .fa-spin-reverse {
	--fa-animation-direction:reverse
  }
  .fa-pulse,
  .fa-spin-pulse {
	animation-name:fa-spin;
	animation-direction:var(--fa-animation-direction,normal);
	animation-duration:var(--fa-animation-duration,1s);
	animation-iteration-count:var(--fa-animation-iteration-count,infinite);
	animation-timing-function:var(--fa-animation-timing,steps(8))
  }
  @media (prefers-reduced-motion:reduce) {
	.fa-beat,
	.fa-beat-fade,
	.fa-bounce,
	.fa-fade,
	.fa-flip,
	.fa-pulse,
	.fa-shake,
	.fa-spin,
	.fa-spin-pulse {
	  animation-delay:-1ms;
	  animation-duration:1ms;
	  animation-iteration-count:1;
	  transition-delay:0s;
	  transition-duration:0s
	}
  }
  @keyframes fa-beat {
	0%,
	90% {
	  transform:scale(1)
	}
	45% {
	  transform:scale(var(--fa-beat-scale,1.25))
	}
  }
  @keyframes fa-bounce {
	0%,
	100%,
	64% {
	  transform:scale(1,1) translateY(0)
	}
	10% {
	  transform:scale(var(--fa-bounce-start-scale-x,1.1),var(--fa-bounce-start-scale-y,.9)) translateY(0)
	}
	30% {
	  transform:scale(var(--fa-bounce-jump-scale-x,.9),var(--fa-bounce-jump-scale-y,1.1)) translateY(var(--fa-bounce-height,-.5em))
	}
	50% {
	  transform:scale(var(--fa-bounce-land-scale-x,1.05),var(--fa-bounce-land-scale-y,.95)) translateY(0)
	}
	57% {
	  transform:scale(1,1) translateY(var(--fa-bounce-rebound,-.125em))
	}
  }
  @keyframes fa-fade {
	50% {
	  opacity:var(--fa-fade-opacity,.4)
	}
  }
  @keyframes fa-beat-fade {
	0%,
	100% {
	  opacity:var(--fa-beat-fade-opacity,.4);
	  transform:scale(1)
	}
	50% {
	  opacity:1;
	  transform:scale(var(--fa-beat-fade-scale,1.125))
	}
  }
  @keyframes fa-flip {
	50% {
	  transform:rotate3d(var(--fa-flip-x,0),var(--fa-flip-y,1),var(--fa-flip-z,0),var(--fa-flip-angle,-180deg))
	}
  }
  @keyframes fa-shake {
	0% {
	  transform:rotate(-15deg)
	}
	4% {
	  transform:rotate(15deg)
	}
	24%,
	8% {
	  transform:rotate(-18deg)
	}
	12%,
	28% {
	  transform:rotate(18deg)
	}
	16% {
	  transform:rotate(-22deg)
	}
	20% {
	  transform:rotate(22deg)
	}
	32% {
	  transform:rotate(-12deg)
	}
	36% {
	  transform:rotate(12deg)
	}
	100%,
	40% {
	  transform:rotate(0)
	}
  }
  @keyframes fa-spin {
	0% {
	  transform:rotate(0)
	}
	100% {
	  transform:rotate(360deg)
	}
  }
  .fa-rotate-90 {
	transform:rotate(90deg)
  }
  .fa-rotate-180 {
	transform:rotate(180deg)
  }
  .fa-rotate-270 {
	transform:rotate(270deg)
  }
  .fa-flip-horizontal {
	transform:scale(-1,1)
  }
  .fa-flip-vertical {
	transform:scale(1,-1)
  }
  .fa-flip-both,
  .fa-flip-horizontal.fa-flip-vertical {
	transform:scale(-1,-1)
  }
  .fa-rotate-by {
	transform:rotate(var(--fa-rotate-angle,none))
  }
  .fa-stack {
	display:inline-block;
	vertical-align:middle;
	height:2em;
	position:relative;
	width:2.5em
  }
  .fa-stack-1x,
  .fa-stack-2x {
	bottom:0;
	left:0;
	margin:auto;
	position:absolute;
	right:0;
	top:0;
	z-index:var(--fa-stack-z-index,auto)
  }
  .svg-inline--fa.fa-stack-1x {
	height:1em;
	width:1.25em
  }
  .svg-inline--fa.fa-stack-2x {
	height:2em;
	width:2.5em
  }
  .fa-inverse {
	color:var(--fa-inverse,#fff)
  }
  .fa-sr-only,
  .fa-sr-only-focusable:not(:focus),
  .sr-only,
  .sr-only-focusable:not(:focus) {
	position:absolute;
	width:1px;
	height:1px;
	padding:0;
	margin:-1px;
	overflow:hidden;
	clip:rect(0,0,0,0);
	white-space:nowrap;
	border-width:0
  }
  .svg-inline--fa .fa-primary {
	fill:var(--fa-primary-color,currentColor);
	opacity:var(--fa-primary-opacity,1)
  }
  .svg-inline--fa .fa-secondary {
	fill:var(--fa-secondary-color,currentColor);
	opacity:var(--fa-secondary-opacity,.4)
  }
  .svg-inline--fa.fa-swap-opacity .fa-primary {
	opacity:var(--fa-secondary-opacity,.4)
  }
  .svg-inline--fa.fa-swap-opacity .fa-secondary {
	opacity:var(--fa-primary-opacity,1)
  }
  .svg-inline--fa mask .fa-primary,
  .svg-inline--fa mask .fa-secondary {
	fill:#000
  }
  .fa-duotone.fa-inverse,
  .fad.fa-inverse {
	color:var(--fa-inverse,#fff)
  }

/******************************/
/********** IMPORTS **********/
/******************************/

/* @import url( "https://fonts.googleapis.com/css?family=IBM+Plex+Mono|PT+Sans|Solway&display=swap" ); */

/******************************/
/******** VENDORS:10 **********/
/******************************/

/******************************/
/********* VARIABLES **********/
/******************************/

:root{
	/* SIZES */
	--size-base: 10px;
	--size-min-width: 32rem;

	--size-radius: 3px;
	--size-large-radius: 9px;

	--size-default-text: 1.6rem;
	--size-small-text: 1.3rem;

	--size-default-line-height: 2.2rem;

	--size-tiny-padding: 0.25rem;
	--size-default-padding: 1rem;
	--size-large-padding: 2rem;


	/* COLORS */
	--color-nearly-black: hsla( 0, 0%, 9.4%, 1 );
	--color-code-block: hsla( 0, 0%, 33.3%, 1 );
	--color-strut: hsla( 0, 0%, 73.3%, 1 );
	--color-dim: hsla( 0, 0%, 43.1%, 1 );
	--color-super-dim: hsla( 0, 0%, 80.4%, 1 );
	--color-code-text: hsla( 0, 0%, 86.3%, 1 );

	--color-twitter: hsla( 202.8, 89.1%, 53.1%, 1 );

	--color-brightest: hsla( 0, 0%, 100%, 1 );
	--color-darkest: hsla( 0, 0%, 0%, 1 );

	--color-text: hsla( 0, 0%, 14.9%, 1 );
	--color-text-faded: hsla( 0, 0%, 52.9%, 1 );

	--color-strut-input: hsla( 0, 0%, 68.6%, 1 );
	--color-strut-focus: hsla( 198, 100%, 41.8%, 1 );

	--color-neutral: hsla( 0, 0%, 80%, 1 );
	--color-okay: hsla( 120.7, 40.6%, 39.6%, 1 );
	--color-info: hsla( 212.3, 60.6%, 49.8%, 1 );
	--color-alert: hsla( 0, 55.6%, 46.9%, 1 );
	--color-attention: hsla( 41.1, 68.2%, 58%, 1 );

	--color-neutral-subtle: hsla( 0, 0%, 94.1%, 1 );
	--color-okay-subtle: hsla( 122.7, 100%, 95.7%, 1 );
	--color-info-subtle: hsla( 213.6, 100%, 95.1%, 1 );
	--color-alert-subtle: hsla( 0, 100%, 95.7%, 1 );
	--color-attention-subtle: hsla(40, 100%, 94.7%, 1);

	--color-neutral-trans: hsla(0, 0%, 80%, 0.25 );
	--color-okay-trans: hsla(120.7, 40.6%, 39.6%, 0.25 );
	--color-info-trans: hsla(212.3, 60.6%, 49.8%, 0.25 );
	--color-alert-trans: hsla(0, 55.6%, 46.9%, 0.25 );
	--color-attention-trans: hsla( 41.1, 68.2%, 58%, 0.25 );

	--vfx-global-transition: all 0.1s ease-in-out;

	--vfx-shadow-block-default: 0 4px 4px -3px hsla( 0, 0%, 0%, 0.5 );
	--vfx-shadow-block-reduced: 0 2px 2px -2px hsla( 0, 0%, 0%, 0.5 );
	--vfx-left-shadow-block-default: -4px 0 4px -3px hsla( 0, 0%, 0%, 0.5 );
	--vfx-left-shadow-block-reduced: -2px 0 2px -2px hsla( 0, 0%, 0%, 0.5 );
	--vfx-right-shadow-block-reduced: 2px 0 2px -2px hsla( 0, 0%, 0%, 0.5 );
	--vfx-right-shadow-block-default: 4px 0 4px -3px hsla( 0, 0%, 0%, 0.5 );
}

/******************************/
/***** STANDARD ELEMENTS ******/
/******************************/

html{
	box-sizing: border-box;
    font-size: var( --size-base );
    line-height: calc( 1.5 * var( --size-base ) );
}

html *{
	box-sizing: inherit;
}

body{
	color: var( --color-nearly-black );
	font-family: "PT Sans", sans-serif;
    font-size: 1.8rem;
	line-height: 3.2rem;
	min-width: var( --size-min-width );
}

section{
	padding: 0 2.5rem;
}

h1,
h2,
h3,
h4{
    font-family: "Solway", serif;
	line-height: 1.2em;
	margin: 0;
	padding: 0;
}

section h2{
	margin-left: -2.5rem;
}

h1{
	font-size: 4rem;
}

h1 a{
	color: inherit;
	text-decoration: none;
}

blockquote{
	background-color: var( --color-super-dim );
	border-left: 0.5rem dashed var( --color-strut );
	padding-left: 1.5rem;
	position: relative;
}

blockquote::before{
	color: var( --color-super-dim );
	content: '“';
	font-size: 10rem;
	position: absolute;
	right: calc( 100% + 1rem );
	top: 3rem;
}

blockquote .author{
	display: block;
	margin-right: 1.5rem;
	text-align: right;
}

aside{
	border: 1px dashed var( --color-strut );
	border-radius: 1rem;
	font-family: monospace;
	font-size: 1.2rem;
	line-height: 1.4rem;
	margin: auto auto 1.5rem 30%;
	padding: 1rem;
	position: relative;
	text-align: center;
}

aside::before,
aside::after{
	color: var( --color-strut );
	font-size: 9rem;
	position: absolute;
	top: 2rem;
}

aside::before{
	content: "(";
	right: 100%;
}

aside::after{
	content: ")";
	left: 100%;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figure figcaption{
	color: var( --color-code-block );
	text-align: center;
}

pre{
	font-size: 0.75em;
	line-height: 1.25em;
}

code{
	font-family: "IBM Plex Mono", monospace;
}

table{
	border: 1px solid hsla( 0, 0%, 85%, 1 );
	width: 100%;
}

tr:hover,
tr:focus{
	background-color: hsla( 0, 0%, 95%, 1 );
}

tr + tr{
	border-top: 1px solid hsla( 0, 0%, 85%, 1 );
}

td{
	padding: 0 0.5rem;
}

td + td{
	border-left: 1px solid hsla( 0, 0%, 85%, 1 );
}

/******************************/
/*********** TABLES ***********/
/******************************/

label.table-label{
	background-color: hsla( 0, 0%, 95%, 1 );
	border: 1px solid hsla( 0, 0%, 85%, 1 );
	border-bottom: 0;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	display: inline-block;
	font-family: "IBM Plex Mono", monospace;
	font-weight: bold;
	padding: 0 2rem;
}

table + label.table-label{
	margin-top: 3rem;
}

/******************************/
/*********** CODE *************/
/******************************/

.post code:not(.hljs){
	background-color: hsla( 0, 0%, 82.7%, 1 );
	border: 1px solid hsla( 0, 0%, 70%, 1 );
	padding: 0 0.5rem;
}

/******************************/
/****** HELPER CLASSES ********/
/******************************/

.discourage-copy{
	user-select: none;
}

/******************************/
/********** REGIONS ***********/
/******************************/

/******************************/
/********** HEADER ************/
/******************************/

body > header:first-of-type{
	background-color: var( --color-brightest );
	display: grid;
	font-size: 3rem;
	grid-template-columns: 1fr 1fr;
	height: 5rem;
	line-height: 5rem;
	padding: 0 1.5rem;
	position: sticky;
	text-align: left;
	top: 0;
	z-index: 5;
}

body > header:first-of-type a{
	color: inherit;
	text-decoration: none;
}

body > header:first-of-type > span{
	text-align: right;
	white-space: nowrap;
}

@media screen and ( min-width: 500px ){
	body > header:first-of-type{
		background: linear-gradient(
			90deg,
			hsla( 0, 0%, 100%, 1 ) 0%,
			hsla( 0, 0%, 100%, 0 ) 40%,
			hsla( 0, 0%, 100%, 0 ) 90%,
			hsla( 0, 0%, 100%, 1 ) 100%
		);
	}
}

/******************************/
/*********** VIEW *************/
/******************************/

body > .view{
	margin: auto;
	max-width: 90rem;
	min-height: calc( 100vh - 9rem );
	padding: 1rem;
	width: 95%;
}

body > .view.bookshelf{
	max-width: 150rem;
}

/******************************/
/******* INDEX VIEW ***********/
/******************************/

.view.index{
	display: grid;
	grid-row-gap: 1.5rem;
	grid-template-areas:
		"head"
		"content";
	grid-template-columns: 1fr;
}

.view.index > .head{
	border-bottom: 5px dotted var( --color-strut );
	display: grid;
	grid-area: head;
	grid-gap: 1rem;
	grid-template-columns: 10rem 1fr;
	padding-bottom: 1rem;
	place-items: center;
}

.view.index > .head img{
	border-radius: 50%;
	max-height: 100%;
	max-width: 100%;
	min-width: 4rem;
}

.view.index > .head > a{
	grid-column: 1 / 3;
}

.view.index > [container]{
	grid-area: content;
}

@media screen and ( min-width: 500px ){
	.view.index{
		grid-template-areas:
			"head content"
			".    content";
		grid-template-columns: 30% 70%;
		grid-template-rows: 18.6rem auto;
	}

	.view.index > .head{
		border-bottom: 0;
		grid-template-columns: 1fr;
		grid-template-rows: 10rem 1fr;
	}

	.view.index > .head h1{
		font-size: 2rem;
		text-align: center;
	}

	.view.index > [container]{
		border-left: 0.5rem solid var( --color-info );
		margin-left: 1rem;
		padding-left: 1rem;
	}

	.view.index > [container]{
		border-top: 0;
		margin-top: 0;
		padding-top: 0;
	}
}

/******************************/
/********** FOOTER ************/
/******************************/

body > footer{
	display: grid;
	gap: 0.5rem;
	grid-template-columns: 1fr max-content min-content;
	height: 4rem;
	line-height: 2;
	padding: 0 1.5rem;
	text-align: right;
}

body > footer a{
	display: inline-block;
}

body > footer a img{
	display: block;
	height: 3.2rem;
}

/******************************/
/****** CUSTOM ELEMENTS *******/
/******************************/

/******************************/
/********** BYLINE ************/
/******************************/

by-line{
	display: block;
}

.author.byline{
	align-items: center;
	display: grid;
	grid-template-areas:
		"picture author"
		"picture date";
	grid-template-columns: 5rem 1fr;
	grid-template-rows: 1fr 1fr;
	line-height: 1rem;
}

.author.byline img{
	border-radius: 50%;
	grid-area: picture;
	height: 4rem;
	width: 4rem;
}

.author.byline h3{
	grid-area: author;
}

.author.byline span{
	grid-area: date;
}

.author.byline.slim{
	grid-gap: 1rem;
	grid-template-areas: "picture author date";
	grid-template-columns: 2rem fit-content( 25rem ) 1fr;
	grid-template-rows: 1fr;
	padding: 0;
}

.author.byline.slim img{
	height: 2rem;
	margin-left: 0.25rem;
	width: 2rem;
}

.author.byline.slim h3,
.author.byline.slim span{
	font-size: 1.5rem;
}

/******************************/
/********** AUTHOR ************/
/******************************/
x-author{
	color: inherit;
	display: inline-block;
	height: 100%;
}

x-author > div{
	display: inline-block;
	height: 100%;
}

x-author a{
	display: inline-flex;
	height: 100%;
}

x-author img{
	align-self: center;
	border-radius: 1em;
	display: inline-block;
	height: 100%;
	margin-right: 0.5rem;
}

/******************************/
/******* REPLY CONNECT ********/
/******************************/

reply-connect{
	color: var( --color-super-dim );
	display: block;
	font-size: 0.8em;
}

reply-connect p{
	font-size: 100%;
	line-height: 1;
	margin: 0;
}

reply-connect p a{
	color: var( --color-dim );
}

/******************************/
/******** ALL POSTS ***********/
/******************************/

long-post-summary,
short-post,
image-short-post{
	display: block;
}

long-post-summary + long-post-summary,
short-post + short-post,
image-short-post + image-short-post,

long-post-summary + short-post,
long-post-summary + image-short-post,

short-post + long-post-summary,
image-short-post + long-post-summary,

short-post + image-short-post,
image-short-post + short-post{
    border-top: 1px dashed var( --color-strut );
    margin-top: 2.5rem;
    padding-top: 2.5rem;
}

short-post + short-post,
image-short-post + short-post,
short-post + image-short-post,
image-short-post + image-short-post{
	margin-top: 1rem;
	padding-top: 1rem;
}

/******************************/
/******** LONG POST ***********/
/******************************/

.long.post{
    padding-left: 2.5rem;
}

.long.post > h1,
.long.post > h2,
.long.post > h3{
    margin-left: -2rem;
}

.long.post > by-line{
    margin-left: -2rem;
    padding: 1.5rem;
    padding-left: 0;
}

.long.post > by-line h3{
    font-family: inherit;
    margin-left: 0;
}

.long.post > by-line + section{
    border-top: 1px solid var( --color-strut );
    padding-top: 1.5rem;
}

.long.post.summary > by-line{
	margin-left: 0;
	padding: 0;
}

.long.post.summary h1{
	font-size: 3rem;
}

/******************************/
/******** SHORT POST **********/
/******************************/

.short.post .meta{
	color: var( --color-dim );
	display: flex;
	font-size: 0.65em;
	line-height: 1.7rem;
}

.short.post:not(.summary) .meta{
	height: 1.7rem;
}

.short.post .meta{
	margin-bottom: 0.5rem;
}

.short.post .meta a{
	color: inherit;
	text-decoration: none;
}

.short.post .meta a:hover,
.short.post .meta a:focus{
	text-decoration: underline;
}

.short.post .body{
	position: relative;
}

.short.post .reply.body{
	padding-left: 1rem;
}

.short.post .reply.body::before{
	color: var( --color-super-dim );
	content: "⎣";
	left: 0;
	position: absolute;
	top: -1rem;
}

/******************************/
/***** IMAGE SHORT POST *******/
/******************************/

.short.post.image{
	display: grid;
	grid-template-areas:
		"meta"
		"body"
		"images"
	;
	grid-template-rows: 2.2rem fit-content( 1.5rem ) 1fr;
}

.short.post.image.reply{
	grid-template-areas:
		"meta"
		"reply"
		"body"
		"images"
	;
	grid-template-rows: 2.2rem 2.5rem fit-content( 1.5rem ) 1fr;
}

.short.post.image > .meta{
	grid-area: meta;
}

.short.post > reply-connect{
	margin-bottom: 1rem;
}

.short.post.image > reply-connect{
	grid-area: reply;
}

.short.post.image > .images{
	grid-area: images;
}

.short.post.image > .body{
	grid-area: body;
}

.short.post .images{
	align-items: center;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat( auto-fill, minmax( 15rem, 1fr ) );
	justify-content: space-evenly;
	justify-items: unset;
	padding-top: 0.5rem;
}

.short.post.summary .images{
	grid-gap: unset;
	grid-template-columns: repeat( auto-fill, minmax( 10rem, 1fr ) );
	place-items: center;
}

.short.post > .images img{
	display: block;
	max-height: 100%;
	max-width: 100%;
	width: auto;
}

.short.post.summary > .images img{
	max-height: 10rem;
	max-width: 9rem;
}

/******************************/
/*********** ICON *************/
/******************************/

.icon svg{
	height: 1em;
	line-height: 1em;
	width: 1em;
}
