<div class="crate">
    <header>
        <h1>Log in</h1>
    </header>
    <div class="body">
        <div class="content">
            <form class="authenticate-form clear" data-forward="<%= forward %>">
                <fieldset>
                    <label for="identity">
                        Username or Email Address
                    </label>
                    <input type="text" name="identity" id="identity" value="<%= remember %>" placeholder="Identity" />
                    <label for="password">
                        Password
                    </label>
                    <input type="password" name="password" id="password" placeholder="Password" />
                    <div class="toggle">
                        <span class="fa <%= remember ? "fa-toggle-on" : "fa-toggle-off" %> fa-2x"></span>
                        <label id="rememberme">Remember Me</label>
                    </div>
                </fieldset>
                <button type="submit" class="fr">
                    <span class="fa fa-lock"></span>&nbsp;Log In
                </button>
            </form>
        </div>
    </div>
</div>
