<div class="hr bump"></div>
<article class="tl">
    <header class="clear">
        <div class="fl">
            <h2>
                <a href="/post/<%= meta.safeTitle %>"><%= meta.title %></a>
            </h2>
            <ul class="fa-ul">
                <li>
                    <span class="fa fa-li fa-edit"></span>
                    <a href="<%= meta.link %>"><%= meta.author %></a>
                </li>
                <li>
                    <span class="fa fa-li fa-calendar-o"></span>
                    <a href="/post/<%= meta.safeTitle %>">
                        <time
                            datetime="<%= meta.pubMoment.toISOString() %>"
                            title="<%= meta.pubMoment.format( 'DD MMM YYYY' ) %>"><%= meta.pubMoment.fromNow() %>
                        </time>
                    </a>
                </li>
            </ul>
        </div>
        <hr />
    </header>
    <div class="body">
        <%= post %>
    </div>
    <div class="comments">
        <button class="load">Load Comments</button>
        <div class="hide" id="disqus_thread"></div>
    </div>
</article>
<div class="more">
    <a class="btn" href="/post/<%= meta.safeTitle %>">Go to the full article</a>
</div>
