<header class="clear">
    <div class="fl">
        <h2><%= title %></h2>
        Published by <a href="<%= link %>"><%= author %></a>
    </div>
    <time class="fr" datetime="<%= pubMoment.toISOString() %>" title="<%= pubMoment.format( 'DD MMM YYYY' ) %>"><%= pubMoment.fromNow() %></time>
</header>
<div class="body">
    <p>
        This is text content of a blog post.
    </p>
    <p>
        This is text content of a blog post.
    </p>
    <p>
        This is text content of a blog post.
    </p>
    <p>
        This is text content of a blog post.
    </p>
    <p>
        This is text content of a blog post.
    </p>
    <p>
        This is text content of a blog post.
    </p>
    <p>
        This is text content of a blog post.
    </p>
    <p>
        This is text content of a blog post.
    </p>
    <p>
        This is text content of a blog post.
    </p>
</div>
