.fl{
    float: left;
}

.fr{
    float: right;
}

.nf{
    float: none;
}

.tl{
    text-align: left;
}

.tr{
    text-align: right;
}

.tc{
    text-align: center;
}

.nt{
    text-align: normal;
}

.vt{
    vertical-align: top;
}

.vm{
    vertical-align: middle;
}

.vb{
    vertical-align: bottom;
}
