article{
    padding-top: ($breathing-room / 2 );

    > *{
        padding-left: $breathing-room;
        padding-right: $breathing-room;
    }

    header{
        background-image: linear-gradient(
            to bottom,
            $standard,
            $subtle
        );
        padding: $breathing-room;

        h1, h2, h3, h4, h5{
            @extend .tl;

            margin-bottom: 0.25em;
            
            a{
                text-decoration: none;
                color: $reading;
            }
        }

        li{
            margin-top: ($breathing-room / 4 );
            
            a{
                text-decoration: underline;
            }
        }

        a{
            color: $info;
        }

        time{
            margin-top: $breathing-room;
        }
    }

    div.body{
        padding-top: $breathing-room;
        padding-bottom: $breathing-room;

        background-image: linear-gradient(
            to bottom,
            $subtle,
            $standard 25%
        );
    }
    
    div.comments{
        button{
            @extend .center;
            display: block;
        }
    }
}
