.post{
    .all-posts &{
        max-height: 30em;
        overflow: hidden;
        position: relative;
        
        background-color: $standard;
        
        .comments{
            @extend .hide;
        }
    }
    
    div.more{
        position: absolute;
        bottom: 0; left: 0;
        width: 100%;
        text-align: center;
        margin: 0; padding: $breathing-room 0;
        
        background: linear-gradient(
            to bottom,
            rgba(255,255,255,0) 0%,
            rgba(255,255,255,1) 75%,
            rgba(255,255,255,1) 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient(
            startColorstr='#00ffffff',
            endColorstr='#ffffff',
            GradientType=0
        );
    }
    
    h2{
        font-size: 2em;
    }
    
    h3{
        font-size: 1.25em;
    }
    
    h4{
        font-size: 1.1em;
    }
}

.crate{
    @include border-radius( 0.25em );

    border: 1px solid $light-border;
    margin-bottom: $breathing-room;

    header{
        @extend .clear;

        padding: ($breathing-room * 0.5) ($breathing-room * 0.75);
        border-bottom: 1px solid $light-border;

        background-color: $subtle-background;

        h1{
            @extend .fl;
            font-size: 1em;
            text-align: left;
            font-weight: normal;
            line-height: $crate-header-height;
        }

        .fr{
            margin: 0;
            margin-top: 4px;
        }
    }

    footer{
        @extend .clear;

        text-align: right;

        padding: ($breathing-room * 0.5) ($breathing-room * 0.75);
        border-top: 1px solid $light-border;
    }

    .body{
        .control{
            text-align: right;

            width: 100%;

            padding: 0.5em;

            background-color: $subtle;
        }

        .content{
            padding: ($breathing-room * 0.75);

            [class*='col-']:not( hr ){
                padding-right: 0;
                padding: ($breathing-room * 0.5);
            }
        }
    }
}

.panel{
    @include border-radius( 8px );
    overflow: hidden;

    background-color: $subtle-background;

    text-align: center;

    button{
        border: none;
        background-color: $info;
    }

    p{
        line-height: $panel-padding * 1.5;
        margin-bottom: $panel-padding;
    }

    .body{
        padding: $panel-padding;
    }
}

.tile{
    display: table;
    height: 9em;
    width: 9em;

    margin-bottom: $grid-padding;

    background-color: $subtle;

    @include border-radius( 0.25em );

    &.clickable{
        cursor: pointer;

        box-shadow: 2px 2px 3px make-dark( $subtle );

        &:active{
            box-shadow: none;
        }
    }

    .body{
        display: table-cell;
        vertical-align: middle;

        span.fa{
            display: block;

            font-size: 2em;

            margin-bottom: 0.5em;
        }
    }
}

.steps{
    & + .crate{
        @include border-radius( 0 0 0.25em 0.25em );
    }

    width: 100%;
    height: 3em;

    background-color: $subtle;

    overflow: hidden;

    @include border-radius( 0.5em 0.5em 0 0 );

    .step{
        height: 100%;
        overflow: hidden;

        padding: 0 1.5em 0 0;

        line-height: 3em;
        white-space: nowrap;
        text-overflow: ellipsis;

        &.complete{
            background-color: $dark;
        }

        &.active{
            @extend .complete;

            .arrow-right {
                @extend .fr;

                background-color: $subtle;

                width: 0;
                height: 0;

                margin-right: -1.5em;

                border-top: 1.5em solid transparent;
                border-bottom: 1.5em solid transparent;
                border-left: 1.5em solid $dark;
            }
        }

        &[data-href]{
            cursor: pointer;
        }
    }
}

.option-bar{
    @extend .clear;

    label{
        color: $text;
    }

    .option{
        @extend .fl;

        display: table;
        height: $option-bar-height;

        padding-left: 1.5em;

        @include respond-to( small ){
            height: $option-bar-height + 2;
        }

        &:first-of-type{
            border-top-left-radius: 0.25em;
            border-top-right-radius: 0.25em;
        }

        &:last-of-type{
            border-bottom-left-radius: 0.25em;
            border-bottom-right-radius: 0.25em;
        }

        &.check{
            span.fa-square-o,
            span.fa-check-square-o{
                @extend .fl;

                margin-left: -0.4em;
                padding-right: 1.25em;

                display: block;

                height: 100%;
                line-height: $option-bar-height;

                border-right: 1px solid;

                @include respond-to( small ){
                    line-height: $option-bar-height + 2;
                }
            }

            span.fa-square-o{
                + .body .toggled{
                    display: none;
                }
            }

            span.fa-check-square-o{
                + .body .toggled{
                    display: block;
                }
            }

            .body{
                display: table-cell;

                word-break: break-all;
                vertical-align: middle;

                padding: 0.25em;

                @include respond-to( medium ){
                    word-break: normal;
                }

                .toggled{
                    text-align: center;
                    padding: 0.5em;
                }

                label{
                    @include border-radius( 0.5em );

                    white-space: nowrap;

                    &:hover,
                    &:focus{
                        background-color: $subtle-background;
                    }
                }
            }
        }
    }
}

.icon-row{
    @extend .clear;
    @include border-radius( 0.25em );

    background-color: $standard;

    text-align: left;

    &:not(:first-of-type){
        margin-top: 1em;
    }

    > .label{
        border-bottom: 1px solid $struts;

        padding: 0.5em;

        color: $inactive-color;
    }

    > .icon{
        @extend .fl;

        padding: 0.75em;

        border-right: 1px solid $struts;

        &.group{
            @include border-radius( 0 0 0.75em 0 );
            border-bottom: 1px solid $struts;
        }
    }

    > .line{
        @extend .fl;

        padding: 0.75em;
    }

    > .extended{
        @extend .fl;

        padding-left: 1em;
        padding-right: 1em;
        padding-top: 1em;
        margin-bottom: 1em;

        width: 100%;
    }

    &.child{
        @include border-radius( 0.75em 0 0 0 );

        border: 1px solid $struts;

        &:not(:first-of-type){
            margin-top: 1em;
        }

        &:last-of-type{
            @include border-radius( 0.75em 0 0.75em 0 );
        }
    }
}
