form{
    width: 100%;
    
    font-size: 1em;
    
    text-align: left;
    
    .field{
        width: 100%;
        max-width: $field-max;
        
        &.no-max{
            max-width: none;
        }
        
        input,
        select{
            margin-left: $input-lmarg;
            margin-top: $input-vmarg;
            margin-bottom: $input-vmarg;
            padding: $input-padding;
            
            width: $input-width;
            
            &[type="checkbox"],
            &[type="radio"],
            &[type="file"]{
                width: auto;
            }
            
            &[type="text"],
            &[type="password"],
            &[type="email"],
            &[type="date"],
            &[type="file"]{
                border: $input-border solid $struts;
                @include border-radius( $input-vmarg );
                
                &.error{
                    $_a: $input-inset-sizes;
                    box-shadow: inset map-get( $_a, 'horiz' ) map-get( $_a, 'vert' ) map-get( $_a, 'blur' ) map-get( $_a, 'spread' ) $subtle-error;
                }
                
                &:disabled{
                    border-bottom: none;
                    background-color: $subtle-background;
                    color: $dark-text;
                }
            }
        }
        
        label{
            display: block;
            
            line-height: $label-line-height;
            
            ~ input,
            ~ textarea,
            ~ .clean-button-group,
            ~ .form-control-group{
                margin-left: $input-lmarg;
            }
        }
        
        .form-control-group{
            @extend .clear;
            position: relative;
            
            width: 100%;
            
            .group{
                @extend .fl;
                
                margin: $input-vmarg auto;
                
                width: 100%;
                
                .left-badge{
                    position: absolute;
                    left: $icon-left;
                    top: $icon-top;
                    
                    padding: $icon-padding;
                    
                    border-right: $standard-border solid #cccccc;
                    
                    ~ input{
                        padding-left: $input-padding + (2 * $icon-padding) + $icon-left + $standard-border + 1em;
                    }
                }
                
                input{
                    margin-left: 0;
                }
            }
        }
    }
}

.authenticate-form{
    h2{
        line-height: 1em;
        
        font-size: 2em;
    }
}

.wrapset{
    fieldset{
        overflow: hidden;
        
        @include border-radius( $standard-border-radius );
        border: 1px solid $struts;
        
        padding: 1em;
        
        margin-bottom: 1.5em;
        
        &:not(:first-child){
            margin-top: 1em;
        }
        
        legend{
            padding: $standard-padding (3 * $standard-padding);
            
            border: $standard-border solid $struts;
            border-width: 0 $standard-border;
            
            background-color: $accentuate-struts;
        }
    }
}

.crate header .backgrid-filter.form-search{
    @extend .fr;
    display: block;
    
    margin: 0;
    
    height: $crate-header-height;
    width: 25%;
    
    input[type="search"]{
        height: auto;
        width: 100%;
        
        box-sizing: border-box; // Force proper rendering
    }
    
    .search,
    a{
        margin-top: 3px;
        top: auto;
    }
}

form .input-search-results{
    padding: 1em;
    
    p{
        margin-top: 0.5em;
        cursor: pointer;
        padding: 0.25em;
        
        background-color: $subtle-background;
    }
}
